<div class="clearfix"></div>

<footer id="footer" class="footer-news ">
    
    <div class="container">


        <div class="row footer-row mvt0 mv6">
            <div class="col-sm-6">
                <img src="images/logo-footer.png" alt="Tana"/>
            </div>
            <div class="col-sm-6 text-right">
                <div class="widget">
                    <div class="subscribe-form">
                        <form>
                            <input type="text" placeholder="ENTER YOUR EMAIL">
                            <button type="submit"><i class="fa fa-envelope-o"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row footer-row">
            {% for category in links %}
            <div class="col-sm-2">
                <div class="widget">
                    
                    <h5 class="widget-title">{{ category.name }}</h5>
                    <ul>
                        {% for subcategory in category.get_subcategories %}
                        <li><a href="#">{{ subcategory.name }}</a></li>
                        {% endfor %}
                    </ul>
                    
                </div>
            </div>
            {% endfor %}
           
        </div>


  
        
    </div>

        <div class="sub-footer">
            <div class="container">

                <div class="row footer-row mv1">
                    <div class="col-sm-12">
                        <div class="widget">
                            <div class="social-links">
                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                <a href="javascript:;"><i class="fa fa-youtube"></i></a>
                                <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="border-line"></div>
                        <ul class="list-inline pull-left">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Work with us</a></li>
                            <li><a href="#">Advertise</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Your Ad Choices</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Terms of Sale</a></li>
                        </ul>
                        <div class="copyright-text pull-right"><i class="fa fa-chevron-up scroll-to-top"></i> Copyight &copy; 2016 Designed by ThemeTon</div>
                    </div>
                </div>
                
            </div>
        </div>
</footer>   

