{% load static %}
{% load humanize %}
{% load thumbnail %}


            <div class="col-sm-3 sidebar mt2">


                <div class="widget">
                    <h5 class="widget-title"><span>Tag Cloud</span></h5>
                    <div class="widget-tags">
                      {% for tag in popular_tags %}
                        <a href="{% url 'articles_view' search=tag %}">{{ tag }}</a>
                      {% endfor %}
                    </div>
                </div>
                <!-- end .widget -->


                <div class="row">
                  {% if ad %}
                    {% if ad.ad_pic %}
                      <div class="col-sm-12 pv3 pvb0">
                        <form class="form-submit" method="post" target="_blank">
                          {% csrf_token %}
                          <a href="{{ ad.url }}" style="z-index: 800;" target="_blank">
                          <input id='Ad ID' type="image" src="{{ ad.ad_pic.url }}" value="{{ ad.id }}" style="z-index: 800;" class="img-fluid" alt="Image">
                          <input type="hidden" name="ad_id" value="{{ ad.id }}">
                        </a>
                        </form>
                      </div>
                    {% else %}
                      {{ ad.widget }}
                    {% endif %}
                  {% endif %}
                </div>

                <div class="widget categories">
                    <h5 class="widget-title"><span>Categories</span></h5>
                    <ul>
                        {% for category in links %}
                        <li>
                            <a href="{% url 'category_view' category=category.slug %}">{{ category.name }}</a>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- end .widget -->


                <div class="widget recent-posts">
                    <h5 class="widget-title"><span>Popular Posts</span></h5>
                    <ul>
                        {% for latest in roamingnews %}
                        {% if forloop.counter < 5 %}
                         <li class="post hover-light">

                            <a href="{% url 'article_view' category=latest.category.slug sub_category=latest.sub_category.slug title=latest.slug %}">
                              {% if latest.article_pic %}
                                <img src="{% thumbnail recipe.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
                                    srcset="
                                        {% thumbnail latest.article_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                        {% thumbnail latest.article_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                        {% thumbnail latest.article_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                        {% thumbnail latest.article_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                        {% thumbnail latest.article_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                                    alt="Some awesome soup"
                                    sizes="100vw"
                                  />
                                {% endif %}
                            </a>
                            <h4 style="display: flex;"><a href="{% url 'article_view' category=latest.category.slug sub_category=latest.sub_category.slug title=latest.slug %}">{{ latest.title }}</a></h4>
                            <p>{{ latest.text | safe | slice:":100" }}..</p>
                            <div class="meta">

                                <span class="date">{{ latest.updated_at | naturaltime }}</span>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}

                         </ul>
                </div>
                <!-- end .widget -->


                <div class="widget light">
                  <h5 class="widget-title"><span>Subscribe</span></h5>
                    <div class="subscribe-form">

                        <form method='post'>
                          {% csrf_token %}
                            <input type="text" name="email_sub" placeholder="ENTER YOUR EMAIL">
                            <button type="submit"><i class="fa fa-envelope-o"></i></button>
                        </form>
                        {% if message %}
                            <div class="alert alert-dismissible alert-success">
                              <button type="button" class="close" data-dismiss="alert">
                              x
                              </button>
                              <strong>{{message}}</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- end .widget -->
            </div>
