{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="border-line mvt0"></div>
    </div>
</div>
<!-- end .row -->
</div>
<!-- end .container -->

<section class="section-content single">

<div class="container">
    <div class="row">
        
        <div class="col-sm-9 with-sidebar">

            <h2 class="block-title mv5" data-title="Finance">
                Articles
            </h2>

            <article class="blog-item blog-single">

                <div class="post first text-bigger hover-dark entry-media">
                    <div class="image video-frame">
                        <img src="images/news/video-big-01.jpg" alt="Post image"/>
                        <a class="video-player video-player-center video-player-large" href="https://www.youtube.com/watch?v=AJtDXIazrMo"></a>
                    </div>
                </div>

                <h2 class="post-title">8 Years of Lessons Temper Prime Minister's noir ign Policy is our about time.</h2>



                <div class="row">

                    <div class="col-md-2 entry-details">

                        <div class="entry-date">Feb 14, 2016</div>
                        <div class="entry-author">
                            by
                            <h5>
                                <a href="javascript:;">Dave Clarke</a><br>
                            </h5>
                            <span>24 likes, 6 comment</span>
                        </div>
                        <div class="entry-views">5000 views</div>
                        <div class="entry-social">
                            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:;"><i class="fa fa-youtube"></i></a>
                            <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>
                    <!-- end .entry-details -->

                    <div class="col-md-10 entry-content">


                        <p>Democratic hopeful Hillary Clinton came out in favor of changes to the Federal Reserve that would reduce the number of bankers in key central bank positions on Thursday, marking a major coup for national progressive groups championing reform.</p>
                        <p>“The Federal Reserve is a vital <span class="twitter-shareable">Institution for our economy and the wellbeing of our middle class</span>, and the American people should have no doubt that the Fed is serving the public interest,” Jesse Ferguson, a Clinton campaign spokesman, said in a statement. “That’s why Secretary Clinton believes that the Fed needs to be more representative of America as a whole as well as that commonsense reforms — like getting bankers off the boards of regional Federal Reserve banks — are long overdue.”</p>
                        <p>The campaign also provided insight into the type of Federal Reserve governors that Clinton would appoint.</p>

                        <blockquote>
                            <cite>- Hugh Laurie</cite>
                            <p>The concept you have about me won’t change who i am, but it can change my concept about you.</p> 
                        </blockquote>

                        <p>Democratic hopeful Hillary Clinton came out in favor of changes to the Federal Reserve that would reduce the number of bankers in key central bank positions on Thursday, marking a major coup for national progressive groups championing reform.</p>

                        <p>“The Federal Reserve is a vital institution for our economy and the wellbeing of our middle class, and the American people should have no doubt that the Fed is serving the public interest,” Jesse Ferguson, a Clinton campaign spokesman, said in a statement. “<span class="twitter-shareable">That’s why Secretary Clinton believes that the Fed needs to be more representative</span> of America as a whole as well as that complete.</p>



                                <div class="row">

    <div class="col-md-12">

        <!-- template -->
        <div class="gallery-slider mv2" data-speed="100">

            <span class="image-copyright">Photography by OrgilDE</span>

            <!-- masterslider -->
            <div class="master-slider gallery-style ms-skin-default" id="masterslider2">

                                    <div class="ms-slide">
                    <div class="slide-pattern tint"></div>
                    <img src="vendors/masterslider/style/blank.gif" data-src="images/news/news-02.jpg" alt="Image"/>
                    <div class="ms-thumb">
                        <div class="image" data-src="images/news/video-02.jpg"></div>
                    </div>
                    <div class="ms-layer" data-effect="fade" data-duration="300" data-ease="easeInOut">
                        Environmentally-friendly Canadian gov't could <span>(2016)</span>
                    </div>

                </div>
                                    <div class="ms-slide">
                    <div class="slide-pattern tint"></div>
                    <img src="vendors/masterslider/style/blank.gif" data-src="images/news/news-03.jpg" alt="Image"/>
                    <div class="ms-thumb">
                        <div class="image" data-src="images/news/video-03.jpg"></div>
                    </div>
                    <div class="ms-layer" data-effect="fade" data-duration="300" data-ease="easeInOut">
                        Environmentally-friendly Canadian gov't could <span>(2016)</span>
                    </div>

                </div>
                                    <div class="ms-slide">
                    <div class="slide-pattern tint"></div>
                    <img src="vendors/masterslider/style/blank.gif" data-src="images/news/news-04.jpg" alt="Image"/>
                    <div class="ms-thumb">
                        <div class="image" data-src="images/news/video-04.jpg"></div>
                    </div>
                    <div class="ms-layer" data-effect="fade" data-duration="300" data-ease="easeInOut">
                        Environmentally-friendly Canadian gov't could <span>(2016)</span>
                    </div>

                </div>
                                    <div class="ms-slide">
                    <div class="slide-pattern tint"></div>
                    <img src="vendors/masterslider/style/blank.gif" data-src="images/news/news-05.jpg" alt="Image"/>
                    <div class="ms-thumb">
                        <div class="image" data-src="images/news/video-05.jpg"></div>
                    </div>
                    <div class="ms-layer" data-effect="fade" data-duration="300" data-ease="easeInOut">
                        Environmentally-friendly Canadian gov't could <span>(2016)</span>
                    </div>

                </div>
                                    <div class="ms-slide">
                    <div class="slide-pattern tint"></div>
                    <img src="vendors/masterslider/style/blank.gif" data-src="images/news/news-01.jpg" alt="Image"/>
                    <div class="ms-thumb">
                        <div class="image" data-src="images/news/video-01.jpg"></div>
                    </div>
                    <div class="ms-layer" data-effect="fade" data-duration="300" data-ease="easeInOut">
                        Environmentally-friendly Canadian gov't could <span>(2016)</span>
                    </div>

                </div>
                                    <div class="ms-slide">
                    <div class="slide-pattern tint"></div>
                    <img src="vendors/masterslider/style/blank.gif" data-src="images/news/news-02.jpg" alt="Image"/>
                    <div class="ms-thumb">
                        <div class="image" data-src="images/news/video-02.jpg"></div>
                    </div>
                    <div class="ms-layer" data-effect="fade" data-duration="300" data-ease="easeInOut">
                        Environmentally-friendly Canadian gov't could <span>(2016)</span>
                    </div>

                </div>
                                    <div class="ms-slide">
                    <div class="slide-pattern tint"></div>
                    <img src="vendors/masterslider/style/blank.gif" data-src="images/news/news-03.jpg" alt="Image"/>
                    <div class="ms-thumb">
                        <div class="image" data-src="images/news/video-03.jpg"></div>
                    </div>
                    <div class="ms-layer" data-effect="fade" data-duration="300" data-ease="easeInOut">
                        Environmentally-friendly Canadian gov't could <span>(2016)</span>
                    </div>

                </div>
                                    <div class="ms-slide">
                    <div class="slide-pattern tint"></div>
                    <img src="vendors/masterslider/style/blank.gif" data-src="images/news/news-04.jpg" alt="Image"/>
                    <div class="ms-thumb">
                        <div class="image" data-src="images/news/video-04.jpg"></div>
                    </div>
                    <div class="ms-layer" data-effect="fade" data-duration="300" data-ease="easeInOut">
                        Environmentally-friendly Canadian gov't could <span>(2016)</span>
                    </div>

                </div>
                                    <div class="ms-slide">
                    <div class="slide-pattern tint"></div>
                    <img src="vendors/masterslider/style/blank.gif" data-src="images/news/news-05.jpg" alt="Image"/>
                    <div class="ms-thumb">
                        <div class="image" data-src="images/news/video-05.jpg"></div>
                    </div>
                    <div class="ms-layer" data-effect="fade" data-duration="300" data-ease="easeInOut">
                        Environmentally-friendly Canadian gov't could <span>(2016)</span>
                    </div>

                </div>
                                    <div class="ms-slide">
                    <div class="slide-pattern tint"></div>
                    <img src="vendors/masterslider/style/blank.gif" data-src="images/news/news-01.jpg" alt="Image"/>
                    <div class="ms-thumb">
                        <div class="image" data-src="images/news/video-01.jpg"></div>
                    </div>
                    <div class="ms-layer" data-effect="fade" data-duration="300" data-ease="easeInOut">
                        Environmentally-friendly Canadian gov't could <span>(2016)</span>
                    </div>

                </div>
                                    

            </div>
            <!-- end of masterslider -->

        </div>
        <!-- end of template -->

    </div><!-- end col-md-12 -->

</div>
<!-- end .row -->


                        <p>Democratic hopeful Hillary Clinton came out in favor of changes to the Federal Reserve that would reduce the number of bankers in key central bank positions on Thursday, marking a major coup for national progressive groups championing reform.</p>
                        <p>“The Federal Reserve is a vital institution for <span class="twitter-shareable">Our economy and the wellbeing of our middle class</span>, and the American people should have no doubt that the Fed is serving the public interest,” Jesse Ferguson, a Clinton campaign spokesman, said in a statement. “That’s why Secretary Clinton believes that the Fed needs to be more representative of America as a whole as well as that commonsense reforms — like getting bankers off the boards of regional Federal Reserve banks — are long overdue.”</p>
                        <p>The campaign also provided insight into the type of Federal Reserve governors that Clinton would appoint.</p>

                    </div>
                    <!-- end .entry-details -->

                </div>
                
            </article>


        </div>
        <!-- end .col-md-9 -->



            <div class="col-sm-3 sidebar mt2">


                <div class="widget">
                    <h5 class="widget-title"><span>Tag Cloud</span></h5>
                    <div class="widget-tags">
                        <a href="javascript:;">Politics</a>
                        <a href="javascript:;">Opition</a>
                        <a href="javascript:;">Healt</a>
                        <a href="javascript:;">Travel</a>
                        <a href="javascript:;">Sports</a>
                        <a href="javascript:;">Breaking</a>
                        <a href="javascript:;">Population</a>
                    </div>
                </div>
                <!-- end .widget -->




                <div class="widget">
                    <a href="entertainment.html">
                        <img src="images/pages/banner-v-en.jpg" alt="banner">
                    </a>
                </div>
                <!-- end .widget -->
                

                <div class="widget">
                    <form class="search_form">
                        <input type="text" name="2" placeholder="Search...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- end .widget -->


                <div class="widget categories">
                    <h5 class="widget-title"><span>Categories</span></h5>
                    <ul>
                        <li>
                            <a href="javascript:;">Gallery Post</a>
                            <span>4</span>
                        </li>
                        <li>
                            <a href="javascript:;">Standard Post</a>
                            <span>2</span>
                        </li>
                        <li>
                            <a href="javascript:;">Video Post</a>
                            <span>2</span>
                        </li>
                        <li>
                            <a href="javascript:;">News</a>
                            <span>3</span>
                        </li>
                        <li>
                            <a href="javascript:;">Quotes</a>
                            <span>1</span>
                        </li>
                    </ul>
                </div>
                <!-- end .widget -->


                <div class="widget recent-posts">
                    <h5 class="widget-title"><span>Popular Posts</span></h5>
                    <ul>
                                                        <li class="post hover-light">
                            <a href="javascript:;">
                                <div class="image image-thumb" data-src="images/news/category-01.jpg"></div>
                            </a>
                            <h4><a href="#">North Carolina</a></h4>
                            <p>Voter ID Law Is Upheld by Federal Judge...</p>
                            <div class="meta">
                                <span class="author">Dave Clark</span>
                                <span class="date">2h</span>
                            </div>
                        </li>
                                                        <li class="post hover-light">
                            <a href="javascript:;">
                                <div class="image image-thumb" data-src="images/news/category-02.jpg"></div>
                            </a>
                            <h4><a href="#">North Carolina</a></h4>
                            <p>Voter ID Law Is Upheld by Federal Judge...</p>
                            <div class="meta">
                                <span class="author">Dave Clark</span>
                                <span class="date">2h</span>
                            </div>
                        </li>
                                                        <li class="post hover-light">
                            <a href="javascript:;">
                                <div class="image image-thumb" data-src="images/news/category-03.jpg"></div>
                            </a>
                            <h4><a href="#">North Carolina</a></h4>
                            <p>Voter ID Law Is Upheld by Federal Judge...</p>
                            <div class="meta">
                                <span class="author">Dave Clark</span>
                                <span class="date">2h</span>
                            </div>
                        </li>
                         </ul>
                </div>
                <!-- end .widget -->


                <div class="widget light">
                    <div class="subscribe-form">
                        <form>
                            <input type="text" placeholder="ENTER YOUR EMAIL">
                            <button type="submit"><i class="fa fa-envelope-o"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end .widget -->







            </div>
            <!-- end .sidebar -->

    </div>
    <!-- end .row -->
</div>
<!-- end .container -->


                <div class="container">
                    <div class="row">
                        <div class="col-md-12">




                                                    <div class="border-line mv3"></div>
                                                            <div class="row">
                            <div class="col-md-12 pv3 pvb0">
                                <a href="blog.html">
                                    <img src="images/pages/banner-3-big.jpg" alt="banner">
                                </a>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-9">
                                    
                <div id="comments" class="comments-area">
                    <div class="comments-wrapper">
                        <div class="border-line mv5"></div>
                        <h2 class="block-title mv8" data-title="Comments">
                            Leave your comment
                        </h2>
                        <ol class="comment-list">
                            <li>
                                <article>
                                    <div class="comment-avatar">
                                        <img alt="Image" src="images/comment.png" class="avatar">
                                    </div>

                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <a href="#" class="comment-author">Jade Stephen</a>
                                        </div>
                                        <div class="comment-content">
                                            We finally got a piece of the pie all of them had hair of gold like their mother the youngest one in curls I have always wanted to have a neighbor just like you have always wanted to live.
                                        </div>
                                        <div class="meta-data">
                                            <span class="comment-date">15 Feb, 2016 - 10:00 am</span>
                                            <span class="comment-reply">
                                                <a class="comment-reply-link" href="#">Reply</a>
                                            </span>
                                        </div>
                                    </div>
                                </article>

                                <ol>
                                    <li>
                                        <article>
                                            <div class="comment-avatar">
                                                <img alt="Image" src="images/comment.png" class="avatar">
                                            </div>

                                            <div class="comment-body">
                                                <div class="meta-data">
                                                    <a href="#" class="comment-author">Jade Stephen</a>
                                                </div>
                                                <div class="comment-content">
                                                    We finally got a piece of the pie all of them had hair of gold like their mother the youngest one in curls I have always wanted to have a neighbor just like.
                                                </div>
                                                <div class="meta-data">
                                                    <span class="comment-date">15 Feb, 2016 - 10:00 am</span>
                                                    <span class="comment-reply">
                                                        <a class="comment-reply-link" href="#">Reply</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </article>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <article>
                                    <div class="comment-avatar">
                                        <img alt="Image" src="images/comment.png" class="avatar">
                                    </div>

                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <a href="#" class="comment-author">Jade Stephen</a>
                                        </div>
                                        <div class="comment-content">
                                            We finally got a piece of the pie all of them had hair of gold like their mother the youngest one in curls I have always wanted to have a neighbor just like you have always wanted to live.
                                        </div>
                                        <div class="meta-data">
                                            <span class="comment-date">15 Feb, 2016 - 10:00 am</span>
                                            <span class="comment-reply">
                                                <a class="comment-reply-link" href="#">Reply</a>
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ol>
                    </div>

                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a comment</h3>
                        <form method="post" id="commentform" class="comment-form" novalidate="">
                            <div class="row">
                                <p class="comment-form-author col-sm-6">
                                    <input id="author" name="author" type="text" value="" size="30" placeholder="Your Name *">
                                </p>
                                <p class="comment-form-email col-sm-6">
                                    <input id="email" name="email" type="email" value="" size="30" placeholder="Your E-mail *">
                                </p>
                            </div>
                            <p class="comment-form-comment">
                                <textarea id="comment" name="comment" placeholder="Comments"></textarea>
                            </p>
                            <p class="form-submit">
                                <span>The required fields have * symbols</span>
                                <input name="submit" type="submit" id="submit" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID">
                            </p>                    
                        </form>
                    </div>

                </div>                                       
             </div>
                            </div>
                            
                            <div class="related-news">

                                <div class="border-line mv5"></div>
                                <h2 class="block-title mv8" data-title="Related">
                                    You may like
                                </h2>

                                <div class="row">
                                    
                                    <div class="col-md-4">

                                        <div class="category-block articles">
                                            <div class="post first">
                                                <div class="meta">
                                                    <span class="author">Dave Clark</span>
                                                    <span class="date">2h</span>
                                                </div>
                                                <h4><a href="#">North Carolina Voter ID Law Is Upheld by Federal Judge</a></h4>
                                                <p>North Carolina Voter ID Law Is Upheld by Federal Judge...</p>
                                            </div>
                                            
                                            <div class="post first">
                                                <div class="meta">
                                                    <span class="author">John Dolce</span>
                                                    <span class="date">7h</span>
                                                </div>
                                                <h4><a href="#">North Carolina Voter ID Law Is Upheld by Federal Judge</a></h4>
                                                <p>North Carolina Voter ID Law Is Upheld by Federal Judge...</p>
                                            </div>

                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4">

                                        <div class="category-block articles">
                                            <div class="post first">
                                                <div class="meta">
                                                    <span class="author">Maria Clark</span>
                                                    <span class="date">2h</span>
                                                </div>
                                                <h4><a href="#">North Carolina Voter ID Law Is Upheld by Federal Judge</a></h4>
                                                <p>North Carolina Voter ID Law Is Upheld by Federal Judge...</p>
                                            </div>
                                            
                                            <div class="post first">
                                                <div class="meta">
                                                    <span class="author">Stefanno Clark</span>
                                                    <span class="date">2h</span>
                                                </div>
                                                <h4><a href="#">North Carolina Voter ID Law Is Upheld by Federal Judge</a></h4>
                                                <p>North Carolina Voter ID Law Is Upheld by Federal Judge...</p>
                                            </div>

                                        </div>
                                    </div>
                         
                                
                                    <div class="col-md-4">

                                        <div class="category-block articles">
                                            <div class="post first">
                                                <div class="meta">
                                                    <span class="author">Satafina Clark</span>
                                                    <span class="date">2h</span>
                                                </div>
                                                <h4><a href="#">North Carolina Voter ID Law Is Upheld by Federal Judge</a></h4>
                                                <p>North Carolina Voter ID Law Is Upheld by Federal Judge...</p>
                                            </div>
                                            
                                            <div class="post first">
                                                <div class="meta">
                                                    <span class="author">Dave Clark</span>
                                                    <span class="date">2h</span>
                                                </div>
                                                <h4><a href="#">North Carolina Voter ID Law Is Upheld by Federal Judge</a></h4>
                                                <p>North Carolina Voter ID Law Is Upheld by Federal Judge...</p>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <!-- end row -->

                            </div>
                            <!-- end .related-news -->

                        </div>
                        <!-- end .column -->
                    </div>
                    <!-- end .row -->
                </div>
                <!-- end .container -->


</section>

  
    <!-- Include jQuery and Scripts -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
   
    <!-- <script type="text/javascript" src="vendors/bootstrap/js/bootstrap.min.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="vendors/jquery.waypoints.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <!-- <script type="text/javascript" src="vendors/isotope.pkgd.min.js"></script> -->
    <script type="text/javascript" src="vendors/typed.min.js"></script>
    <script type="text/javascript" src="vendors/theia-sticky-sidebar.js"></script>
    <!-- <script type="text/javascript" src="vendors/circles.min.js"></script> -->
    <!-- <script type="text/javascript" src="vendors/jquery.stellar.min.js"></script> -->
    <script type="text/javascript" src="vendors/jquery.parallax.columns.js"></script>
    <!-- <script type="text/javascript" src="vendors/svg-morpheus.js"></script> -->

    <!-- Swiper -->
    <script type="text/javascript" src="vendors/swiper/js/swiper.min.js"></script>


    <!-- Magnific-popup -->
    <script type="text/javascript" src="vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    
    <!-- Master Slider -->
    <script src="vendors/masterslider/jquery.easing.min.js"></script>
    <script src="vendors/masterslider/masterslider.min.js"></script>
    
        
    <script type="text/javascript" src="js/scripts.js"></script>


</body>
</html

{% endblock %}