{% extends 'base.html'%}
{% load static %}
{% block headblock %}

<title>VerginaNews | {{ title }} </title>
<meta name="description" content="{{ title }}">
<meta name="keywords" content="{% for tag in tags%} {{ tag }},{% endfor %}" >
<meta name="author" content="{% for author in authors %}{{ author }}{% endfor %} | VerginaNews">

{% endblock %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<!-- end .row -->
</div>
<!-- end .container -->

<section class="section-content single">

<div class="container">
    <div class="row">

        <div class="col-sm-9 with-sidebar">

            <h2 class="block-title mv5" data-title="{{ category }}">
                {{ sub_category }}
            </h2>

            <article class="blog-item blog-single">

                <div class="post first text-bigger hover-dark entry-media">
                    <div class="image video-frame">
                      {% if article_pic %}
                        <img src="{{ article_pic.url }}" alt="Quote author" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" >
                      {% endif %}
                      {% if article_video %}
                        <a class="video-player video-player-center video-player-large" href="{{ article_video.url }}"></a>
                      {% endif %}
                    </div>
                </div>

                <h2 class="post-title">{{ title }}</h2>

                <div class="row">

                    <div class="col-md-2 entry-details">

                        <div class="entry-date">{{ updated_at|naturaltime }}</div>
                        <div class="entry-author">
                            by
                            <h5>
                              {% for author in authors %}
                                <a href="javascript:;">{{ author }}</a><br>
                              {% endfor  %}
                            </h5>
                        </div>
                        <div class="entry-views">{{ total_views }} Views</div>
                        <div class="entry-social">
                            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:;"><i class="fa fa-youtube"></i></a>
                            <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>
                    <!-- end .entry-details -->

                    <div class="col-md-10 entry-content">

                    <div class="conteiner">
                     {{ text | safe }}
                    </div>




                    </div>
                    <!-- end .entry-details -->

                </div>

            </article>


        </div>
        <!-- end .col-md-9 -->
            <div class="col-sm-3 sidebar mt2">
                <div class="widget">
                    <h5 class="widget-title"><span>Tag Cloud</span></h5>
                    <div class="widget-tags">
                      {% for tag in tags%}
                        <a href="javascript:;">{{tag}}</a>
                      {% endfor %}
                    </div>
                </div>
                <!-- end .widget -->




                <div class="widget">
                    <a href="entertainment.html">
                        <img src="images/pages/banner-v-en.jpg" alt="banner">
                    </a>
                </div>
                <!-- end .widget -->


                <div class="widget">
                    <form class="search_form">
                        <input type="text" name="2" placeholder="Search...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- end .widget -->


                <div class="widget categories">
                    <h5 class="widget-title"><span>Categories</span></h5>
                    <ul>
                        {% for category in links %}
                        <li>
                            <a href="{% url 'category_view' category=category.name %}">{{ category.name }}</a>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- end .widget -->


                <div class="widget recent-posts">
                    <h5 class="widget-title"><span>Popular Posts</span></h5>
                    <ul>
                        {% for latest in roamingnews %}
                        {% if forloop.counter < 5 %}
                         <li class="post hover-light">
                            <a href="{% url 'article_view' category=latest.category.slug sub_category=latest.sub_category.slug title=latest.slug %}">
                                <div class="image image-thumb" data-src="images/news/category-01.jpg"></div>
                            </a>
                            <h4 style="display: flex;"><a href="{% url 'article_view' category=latest.category.slug sub_category=latest.sub_category.slug title=latest.slug %}">{{ latest.title }}</a></h4>
                            <p>{{ latest.text | safe | slice:":100" }}..</p>
                            <div class="meta">

                                <span class="date">{{ latest.date_added }}</span>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}

                         </ul>
                </div>
                <!-- end .widget -->


                <div class="widget light">
                    <div class="subscribe-form">
                        <form method="post">
                          {% csrf_token %}
                            <input type="text" name="email_sub" placeholder="ENTER YOUR EMAIL">
                            <button type="submit"><i class="fa fa-envelope-o"></i></button>
                        </form>
                        {% if messages %}
                        <ul class="messages">
                          {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <!-- end .widget -->







            </div>
            <!-- end .sidebar -->

    </div>
    <!-- end .row -->
</div>
<!-- end .container -->


                <div class="container">
                    <div class="row">
                        <div class="col-md-12">




                                                    <div class="border-line mv3"></div>
                                                            <div class="row">
                            <div class="col-md-12 pv3 pvb0">
                                <a href="blog.html">
                                    <img src="images/pages/banner-3-big.jpg" alt="banner">
                                </a>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-9">

                <div id="comments" class="comments-area">
                    <div class="comments-wrapper">
                        <div class="border-line mv5"></div>
                        <h2 class="block-title mv8" data-title="Comments">
                            Leave your comment
                        </h2>
                        <ol class="comment-list">
                          {% for comment in comments %}
                          {% if comment.verified %}
                            <li>

                                <article>
                                    <!-- <div class="comment-avatar">
                                        <img alt="Image" src="images/comment.png" class="avatar">
                                    </div> -->

                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <a href="#" class="comment-author">{{ comment.name }}</a>
                                        </div>
                                        <div class="comment-content">
                                            {{ comment.text }}
                                        </div>
                                        <div class="meta-data">
                                            <span class="comment-date">{{ comment.updated_at|naturaltime }}</span>
                                            <!-- <span class="comment-reply">
                                                <a class="comment-reply-link" href="#">Reply</a>
                                            </span> -->
                                        </div>
                                    </div>
                                </article>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a comment</h3>
                        <form method="post" id="commentform" class="comment-form" novalidate="">
                            <div class="row">
                                <p class="comment-form-author col-sm-6">
                                    <input id="{{ author.id }}" name="author" type="text" value="" size="30" placeholder="Your Name *">
                                </p>
                                <p class="comment-form-email col-sm-6">
                                    <input id="1" name="email" type="email" value="" size="30" placeholder="Your E-mail *">
                                </p>
                            </div>
                            <p class="comment-form-comment">
                                <textarea id="comment" name="comment" placeholder="Comments"></textarea>
                            </p>
                            {{captcha}}
                            <p class="form-submit">
                                {% csrf_token %}
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <input type="hidden" name="Article ID" value="{{ id }}">
                                <span>The required fields have * symbols</span>
                                <input name="submit" type="submit" id="submit" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID">

                            </p>
                        </form>
                    </div>

                </div>
             </div>
                            </div>

                            <div class="related-news">

                                <div class="border-line mv5"></div>
                                <h2 class="block-title mv8" data-title="Related">
                                    You may like
                                </h2>
                                <div class="row">
                                  {% for article in related_articles %}
                                    <div class="col-md-4">
                                        <div class="category-block articles">
                                          {% if forloop.counter is even and forloop.counter < 7 %}
                                            <div class="post first">
                                                <div class="meta">
                                                  {% for author in article.get_authors %}
                                                    <span class="author">{{ author }}</span>
                                                  {% endfor %}
                                                    <span class="date">{{ article.updated_at|naturaltime }}</span>
                                                </div>
                                                <h4><a href="#">{{ article.title }}</a></h4>
                                                <p>{{ article.text | safe | slice:":50"}}...</p>
                                            </div>

                                            {% elif forloop.counter < 7 %}
                                            <div class="post first">
                                                <div class="meta">
                                                  {% for author in article.get_authors %}
                                                    <span class="author">{{ author }}</span>
                                                  {% endfor %}
                                                    <span class="date">{{ article.updated_at|naturaltime }}</span>
                                                </div>
                                                <h4><a href="#">{{ article.title }}</a></h4>
                                                <p>{{ article.text | safe | slice:":50"}}...</p>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- end row -->

                            </div>
                            <!-- end .related-news -->

                        </div>
                        <!-- end .column -->
                    </div>
                    <!-- end .row -->
                </div>
                <!-- end .container -->




{% endblock %}
