{% extends 'base.html'%}
{% load static %}
{% block content %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    />
    <title>Tana - Magazine, News and Blog HTML Template</title>
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Themeton" />
    <meta
      name="description"
      content="Tana - Blog, News and Magazine HTML Template"
    />
    <meta name="author" content="Themeton" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Bootstrap -->
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="vendors/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendors/bootstrap/css/bootstrap-theme.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendors/font-awesome/css/font-awesome.min.css"
    />

    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="vendors/animate.css" />

    <!-- Swiper -->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendors/swiper/css/swiper.min.css"
    />

    <!-- Magnific-popup -->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendors/magnific-popup/magnific-popup.css"
    />

    <!-- Base MasterSlider style sheet -->
    <link rel="stylesheet" href="vendors/masterslider/style/masterslider.css" />

    <!-- Master Slider Skin -->
    <link
      href="vendors/masterslider/skins/default/style.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body class="entertainment-content">
    <div class="content-area pvt0 entertainment-layout">
      <div class="container">
        <!-- Section 2 # News -->
        <div class="row">
          <div class="col-md-12">
            <h2
              class="block-title mt8"
              data-title="Author"
            >
              {{ author.first_name }}
            </h2>

            <div
              class="testimonial-slider fs-blog-carousel"
              data-col="1"
              data-row="1"
              data-responsive="1,1,1"
            >
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="swiper-holder">
                      <img
                        src="https://source.unsplash.com/user/c_v_r"
                        alt="Quote author"
                      />
                      <blockquote>
                        <cite>{{ author.first_name }}</cite>
                        <p>
                          {{ author.short_bio }}.
                        </p>
                      </blockquote>
                    </div>
                    <!-- /.swiper-holder -->
                  </div>
                  <!-- /.swiper-slide -->
                </div>
                <!-- wrapper -->
              </div>
              <!-- /.swiper-container -->
            </div>
            <!-- /.testimonial-slider -->

            <h2 class="block-title mt8" data-title="{{ author.get_job_title }}">Articles</h2>

            <div class="section-blog en-block category-block sticky-parent">
              <div class="row">
                <div class="col-sm-8 col-md-9 sticky-column">
                  <div class="row none-masonry animated-blocks">
                    {% for article in articles %}
                    {% if forloop.counter < 3 %}
                    <div class="col-xs-12 col-sm-6 col-md-4 ab-item">
                      <div class="post boxed mb3 color-2 cart-style">
                        <div class="clearfix">
                          <img
                            class="image-thumb"
                            src="https://source.unsplash.com/user/c_v_r"
                            alt="Image"
                          />
                          <a href="blog.html" class="label">{{ article.category__name }}</a>
                          <div class="meta">
                            <span class="author">{{ author }}</span>
                            <br>
                            <span class="date">{{ article.updated_at }}</span>
                          </div>
                        </div>
                        <h4 class="font18">
                          <a href="single.html">{{ article.title }}</a>
                        </h4>
                        <p>
                          {{ article.text | safe |slice:":100"}}...
                        </p>
                        <div class="image-grid col-2">
                          <div
                            class="image"
                            data-src="images/entertainment/gallery-01.png"
                          >
                            <img src="images/4x3.png" alt="Placeholder" />
                          </div>
                          <div
                            class="image"
                            data-src="images/entertainment/gallery-02.png"
                          >
                            <img src="images/4x3.png" alt="Placeholder" />
                          </div>
                        </div>

                        <a href="single.html" class="category-more"
                          >Continue to the news
                          <img src="images/arrow-right.png" alt="Arrow"
                        /></a>
                      </div>
                    </div>
                    {% elif forloop.counter > 3 and forloop.counter < 8 %}
                    <div class="col-xs-12 col-sm-6 col-md-4 ab-item">

                      <div class="post boxed mb3 color-2 cart-style">
                        <div class="clearfix">
                          <img
                            class="image-thumb"
                            src="https://source.unsplash.com/user/c_v_r"
                            alt="Image"
                          />
                          <a href="blog.html" class="label">{{ article.category__name }}</a>
                          <div class="meta">
                            <span class="author">{{ author }}</span>
                            <br>
                            <span class="date">{{ article.updated_at }}</span>
                          </div>
                        </div>
                        <h4 class="font18">
                          <a href="single.html">{{ article.title }}</a>
                        </h4>
                        <p>
                          {{ article.text | safe |slice:":100"}}...
                        </p>
                        <div class="image-grid col-2">
                          <div
                            class="image"
                            data-src="images/entertainment/gallery-01.png"
                          >
                            <img src="images/4x3.png" alt="Placeholder" />
                          </div>
                          <div
                            class="image"
                            data-src="images/entertainment/gallery-02.png"
                          >
                            <img src="images/4x3.png" alt="Placeholder" />
                          </div>
                        </div>

                        <a href="single.html" class="category-more"
                          >Continue to the news
                          <img src="images/arrow-right.png" alt="Arrow"
                        /></a>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.col -->

                <div class="col-sm-3 sidebar mt2">
                  <div class="widget">
                    <h5 class="widget-title"><span>Tag Cloud</span></h5>
                    <div class="widget-tags">
                      <a href="javascript:;">Politics</a>
                      <a href="javascript:;">Opition</a>
                      <a href="javascript:;">Healt</a>
                      <a href="javascript:;">Travel</a>
                      <a href="javascript:;">Sports</a>
                      <a href="javascript:;">Breaking</a>
                      <a href="javascript:;">Population</a>
                    </div>
                  </div>
                  <!-- end .widget -->

                  <div class="widget">
                    <a href="entertainment.html">
                      <img src="images/pages/banner-v-en.jpg" alt="banner" />
                    </a>
                  </div>
                  <!-- end .widget -->

                  <div class="widget">
                    <form class="search_form">
                      <input type="text" name="2" placeholder="Search..." />
                      <button type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </form>
                  </div>
                  <!-- end .widget -->

                  <div class="widget categories">
                    <h5 class="widget-title"><span>Categories</span></h5>
                    <ul>
                      <li>
                        <a href="javascript:;">Gallery Post</a>
                        <span>4</span>
                      </li>
                      <li>
                        <a href="javascript:;">Standard Post</a>
                        <span>2</span>
                      </li>
                      <li>
                        <a href="javascript:;">Video Post</a>
                        <span>2</span>
                      </li>
                      <li>
                        <a href="javascript:;">News</a>
                        <span>3</span>
                      </li>
                      <li>
                        <a href="javascript:;">Quotes</a>
                        <span>1</span>
                      </li>
                    </ul>
                  </div>
                  <!-- end .widget -->

                  <div class="widget recent-posts">
                    <h5 class="widget-title"><span>Popular Posts</span></h5>
                    <ul>
                      <li class="post hover-light">
                        <a href="javascript:;">
                          <div
                            class="image image-thumb"
                            data-src="images/news/category-01.jpg"
                          ></div>
                        </a>
                        <h4><a href="#">North Carolina</a></h4>
                        <p>Voter ID Law Is Upheld by Federal Judge...</p>
                        <div class="meta">
                          <span class="author">Dave Clark</span>
                          <span class="date">2h</span>
                        </div>
                      </li>
                      <li class="post hover-light">
                        <a href="javascript:;">
                          <div
                            class="image image-thumb"
                            data-src="images/news/category-02.jpg"
                          ></div>
                        </a>
                        <h4><a href="#">North Carolina</a></h4>
                        <p>Voter ID Law Is Upheld by Federal Judge...</p>
                        <div class="meta">
                          <span class="author">Dave Clark</span>
                          <span class="date">2h</span>
                        </div>
                      </li>
                      <li class="post hover-light">
                        <a href="javascript:;">
                          <div
                            class="image image-thumb"
                            data-src="images/news/category-03.jpg"
                          ></div>
                        </a>
                        <h4><a href="#">North Carolina</a></h4>
                        <p>Voter ID Law Is Upheld by Federal Judge...</p>
                        <div class="meta">
                          <span class="author">Dave Clark</span>
                          <span class="date">2h</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- end .widget -->

                  <div class="widget light">
                    <div class="subscribe-form">
                      <form>
                        <input type="text" placeholder="ENTER YOUR EMAIL" />
                        <button type="submit">
                          <i class="fa fa-envelope-o"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  <!-- end .widget -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.boxed -->
          </div>
          <nav class="mt-4" aria-label="Page navigation sample">

          <ul class="pagination">

            <li class="page-item "><a class="page-link text-dark" href="#">Previous</a></li>



            <li class="page-item  active"><a class="page-link text-dark" href="#">1</a></li>

                <li class="page-item "><a class="page-link text-dark" href="#">2</a></li>


            <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>

          </ul>

        </nav>
        </div>
      </div>
    </div>



{% endblock %}
