{% extends 'base.html'%}
{% load static %}
{% load thumbnail %}
{% block headblock %}

<title>VerginaNews | {{ author.first_name }} </title>
<meta name="description" content="{{ author.short_bio }}">
<meta name="keywords" content="{% for tag in popular_tags %} {{ tag }},{% endfor %}" >
<meta name="author" content="VerginaNews">

{% endblock %}
{% load humanize %}
{% block content %}



  <body class="entertainment-content">
    <div class="content-area pvt0 entertainment-layout">
      <div class="container">
        <!-- Section 2 # News -->
        <div class="row">
          <div class="col-md-12">
            <h2
              class="block-title mt8"
              data-title="Author"
            >
              {{ author.first_name }}
            </h2>

            <div
              class="testimonial-slider fs-blog-carousel"
              data-col="1"
              data-row="1"
              data-responsive="1,1,1"
            >
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="swiper-holder">

                      {% if author.prof_pic %}
                        <img src="{% thumbnail recipe.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
                            srcset="
                                {% thumbnail author.prof_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                {% thumbnail author.prof_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                {% thumbnail author.prof_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                {% thumbnail author.prof_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                {% thumbnail author.prof_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                            alt="Some awesome soup"
                            sizes="100vw"
                          />
                        {% endif %}
                      <blockquote>
                        <cite>{{ author.first_name }}</cite>
                        <p>
                          {{ author.short_bio }}.
                        </p>
                      </blockquote>
                    </div>
                    <!-- /.swiper-holder -->
                  </div>
                  <!-- /.swiper-slide -->
                </div>
                <!-- wrapper -->
              </div>
              <!-- /.swiper-container -->
            </div>
            <!-- /.testimonial-slider -->

            <h2 class="block-title mt8" data-title="{{ author.first_name }}">Articles</h2>

            <div class="section-blog en-block category-block sticky-parent">
              <div class="row">
                <div class="col-sm-8 col-md-9 sticky-column">
                  <div class="row none-masonry animated-blocks">
                    {% for article in articles %}
                    <div class="col-xs-12 col-sm-6 col-md-4 ab-item">
                      <div class="post boxed mb3 color-2 cart-style">
                        <div class="clearfix">
                          {% if author.prof_pic %}
                            <img src="{% thumbnail recipe.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
                                srcset="
                                    {% thumbnail author.prof_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail author.prof_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail author.prof_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail author.prof_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail author.prof_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                                alt="Some awesome soup"
                                sizes="100vw"
                              />
                            {% endif %}
                          <a href="blog.html" class="label">{{ article.category__name }}</a>
                          <div class="meta">
                            <span class="author">{{ author }}</span>
                            <br>
                            <span class="date">{{ article.updated_at |date:"d.m.Y, H:i"}}</span>
                          </div>
                        </div>
                        <h4 class="font18">
                          {% if article.sub_category %}
                          <a href="{% url 'article_view' category=article.category.slug sub_category=article.sub_category.slug title=article.slug %}">{{ article.title }}</a>
                          {% else %}
                          <a href="{% url 'article_view' category=article.category.slug sub_category=article.category.slug title=article.slug %}">{{ article.title }}</a>
                          {% endif %}
                        </h4>
                        <p>
                          {{ article.text | safe |slice:":100"}}...
                        </p>
                        <a href="{% url 'article_view' category=article.category.slug sub_category=article.sub_category.slug title=article.slug %}" class="category-more"
                          >Διάβαστε το Αρθρο
                          <img src="{% static 'images/arrow-right.png' %}" alt="Arrow"
                        /></a>
                      </div>
                    </div>
                    {% endfor %}
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <nav class="mt-4" aria-label="Page navigation sample">
                    {% if articles.has_other_pages %}
                  <ul class="pagination">
                      {% if articles.has_previous %}
                    <li class="page-item "><a class="page-link" href="?page={{articles.previous_page_number}}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for i in articles.paginator.page_range %}
                        {% if articles.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if articles.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{articles.next_page_number}}">Next</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                  </ul>
                  {% endif %}
                </nav>
                </div>
                <!-- /.col -->

                <div class="col-sm-3 sidebar mt2">
                  <div class="widget">
                    <h5 class="widget-title"><span>Tag Cloud</span></h5>
                    <div class="widget-tags">
                      {% for tag in tags %}
                      <a href="{% url 'articles_view' search=tag %}">{{ tag }}</a>
                      {% endfor %}
                    </div>
                  </div>
                  <!-- end .widget -->

                  <!-- /.col -->
                  <div class="row">
                    {% if ad_sidebar %}
                      {% if ad_sidebar.ad_pic %}
                        <div class="col-sm-12 pv3 pvb0">
                          <form class="form-submit" method="post" target="_blank">
                            {% csrf_token %}
                            <a href="{{ ad_sidebar.url }}" style="z-index: 800;" target="_blank">
                            <input id='Ad ID' type="image" src="{{ ad_sidebar.ad_pic.url }}" value="{{ ad_sidebar.id }}" style="z-index: 800;" class="img-fluid" alt="Image">
                            <input type="hidden" name="ad_id" value="{{ ad_sidebar.id }}">
                          </a>
                          </form>
                        </div>
                      {% else %}
                        {{ ad_sidebar.widget }}
                      {% endif %}
                    {% endif %}
                  </div>

                  <div class="widget categories">
                    <h5 class="widget-title"><span>Categories</span></h5>
                    <ul>
                      {% for category in links %}
                      <li>
                          <a href="{% url 'category_view' category=category.slug %}">{{ category.name }}</a>

                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end .widget -->

                  <div class="widget recent-posts">
                    <h5 class="widget-title"><span>Related Authors</span></h5>
                    <ul>
                      {% for author in related_authors %}
                      <li class="post hover-light">
                        <a href="javascript:;">

                          {% if author.prof_pic %}
                            <img src="{% thumbnail recipe.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
                                srcset="
                                    {% thumbnail author.prof_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail author.prof_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail author.prof_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail author.prof_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail author.prof_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                                alt="Some awesome soup"
                                sizes="100vw"
                              />
                            {% endif %}
                        </a>
                        <h4><a href="#">{{ author.first_name }}</a></h4>
                        <h4><a href="#">{{ author.last_name }}</a></h4>

                        <div class="meta">
                          <span class="author"></span>
                          <span class="date"></span>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end .widget -->

                  <div class="widget light">
                    <h5 class="widget-title"><span>Subscribe</span></h5>
                    <div class="subscribe-form">

                      <form>
                        <input type="text" placeholder="ENTER YOUR EMAIL" />
                        <button type="submit">
                          <i class="fa fa-envelope-o"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  <!-- end .widget -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.boxed -->
          </div>

        </div>
      </div>
    </div>



{% endblock %}
