{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block content %}



  <body class="entertainment-content">
    <div class="content-area pvt0 entertainment-layout">
      <div class="container">
        <!-- Section 2 # News -->
        <div class="row">
          <div class="col-md-12">
            <h2
              class="block-title mt8"
              data-title="Author"
            >
              {{ author.first_name }}
            </h2>

            <div
              class="testimonial-slider fs-blog-carousel"
              data-col="1"
              data-row="1"
              data-responsive="1,1,1"
            >
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="swiper-holder">
                      <img
                        src="https://source.unsplash.com/user/c_v_r"
                        alt="Quote author"
                      />
                      <blockquote>
                        <cite>{{ author.first_name }}</cite>
                        <p>
                          {{ author.short_bio }}.
                        </p>
                      </blockquote>
                    </div>
                    <!-- /.swiper-holder -->
                  </div>
                  <!-- /.swiper-slide -->
                </div>
                <!-- wrapper -->
              </div>
              <!-- /.swiper-container -->
            </div>
            <!-- /.testimonial-slider -->

            <h2 class="block-title mt8" data-title="{{ author.get_job_title }}">Articles</h2>

            <div class="section-blog en-block category-block sticky-parent">
              <div class="row">
                <div class="col-sm-8 col-md-9 sticky-column">
                  <div class="row none-masonry animated-blocks">
                    {% for article in articles %}
                    <div class="col-xs-12 col-sm-6 col-md-4 ab-item">
                      <div class="post boxed mb3 color-2 cart-style">
                        <div class="clearfix">
                          <img
                            class="image-thumb"
                            src="https://source.unsplash.com/user/c_v_r"
                            alt="Image"
                          />
                          <a href="blog.html" class="label">{{ article.category__name }}</a>
                          <div class="meta">
                            <span class="author">{{ author }}</span>
                            <br>
                            <span class="date">{{ article.updated_at|naturaltime }}</span>
                          </div>
                        </div>
                        <h4 class="font18">
                          <a href="single.html">{{ article.title }}</a>
                        </h4>
                        <p>
                          {{ article.text | safe |slice:":100"}}...
                        </p>
                        <a href="single.html" class="category-more"
                          >Continue to the news
                          <img src="{% static 'images/arrow-right.png' %}" alt="Arrow"
                        /></a>
                      </div>
                    </div>
                    {% endfor %}
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <nav class="mt-4" aria-label="Page navigation sample">
                    {% if articles.has_other_pages %}
                  <ul class="pagination">
                      {% if articles.has_previous %}
                    <li class="page-item "><a class="page-link" href="?page={{articles.previous_page_number}}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for i in articles.paginator.page_range %}
                        {% if articles.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if articles.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{articles.next_page_number}}">Next</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                  </ul>
                  {% endif %}
                </nav>
                </div>
                <!-- /.col -->

                <div class="col-sm-3 sidebar mt2">
                  <div class="widget">
                    <h5 class="widget-title"><span>Tag Cloud</span></h5>
                    <div class="widget-tags">
                      <a href="javascript:;">Politics</a>
                      <a href="javascript:;">Opition</a>
                      <a href="javascript:;">Healt</a>
                      <a href="javascript:;">Travel</a>
                      <a href="javascript:;">Sports</a>
                      <a href="javascript:;">Breaking</a>
                      <a href="javascript:;">Population</a>
                    </div>
                  </div>
                  <!-- end .widget -->

                  <div class="widget">
                    <a href="entertainment.html">
                      <img src="images/pages/banner-v-en.jpg" alt="banner" />
                    </a>
                  </div>
                  <!-- end .widget -->

                  <div class="widget">
                    <form class="search_form">
                      <input type="text" name="2" placeholder="Search..." />
                      <button type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </form>
                  </div>
                  <!-- end .widget -->

                  <div class="widget categories">
                    <h5 class="widget-title"><span>Categories</span></h5>
                    <ul>
                      {% for category in links %}
                      <li>
                          <a href="{% url 'category_view' category=category.name %}">{{ category.name }}</a>

                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end .widget -->

                  <div class="widget recent-posts">
                    <h5 class="widget-title"><span>Popular Posts</span></h5>
                    <ul>
                      <li class="post hover-light">
                        <a href="javascript:;">
                          <div
                            class="image image-thumb"
                            data-src="images/news/category-01.jpg"
                          ></div>
                        </a>
                        <h4><a href="#">North Carolina</a></h4>
                        <p>Voter ID Law Is Upheld by Federal Judge...</p>
                        <div class="meta">
                          <span class="author">Dave Clark</span>
                          <span class="date">2h</span>
                        </div>
                      </li>
                      <li class="post hover-light">
                        <a href="javascript:;">
                          <div
                            class="image image-thumb"
                            data-src="images/news/category-02.jpg"
                          ></div>
                        </a>
                        <h4><a href="#">North Carolina</a></h4>
                        <p>Voter ID Law Is Upheld by Federal Judge...</p>
                        <div class="meta">
                          <span class="author">Dave Clark</span>
                          <span class="date">2h</span>
                        </div>
                      </li>
                      <li class="post hover-light">
                        <a href="javascript:;">
                          <div
                            class="image image-thumb"
                            data-src="images/news/category-03.jpg"
                          ></div>
                        </a>
                        <h4><a href="#">North Carolina</a></h4>
                        <p>Voter ID Law Is Upheld by Federal Judge...</p>
                        <div class="meta">
                          <span class="author">Dave Clark</span>
                          <span class="date">2h</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- end .widget -->

                  <div class="widget light">
                    <div class="subscribe-form">
                      <form>
                        <input type="text" placeholder="ENTER YOUR EMAIL" />
                        <button type="submit">
                          <i class="fa fa-envelope-o"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  <!-- end .widget -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.boxed -->
          </div>

        </div>
      </div>
    </div>



{% endblock %}
