{% extends 'base.html'%}
{% load static %}
{% load thumbnail %}

{% block headblock %}

<title>VerginaNews | {{ category }} </title>
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{% for tag in popular_tags %} {{ tag }},{% endfor %}" >
<meta name="author" content="VerginaNews">

{% endblock %}

{% load humanize %}
{% block content %}
<div class="section-full pv9 pvb0">
    <div class="container">
        <div class="row ">
            <div class="col-sm-9 sticky-column fs-content">
                <div class="theiaStickySidebar">
                    <div class="fs-grid-posts">
                        <div class="fs-post-filter big-title">
                            <h2 class="block-title mt8" style="color:#000 ;" data-title="{{ category }}" >{{ category }}</h2>
                            <!-- <h4 data-title="{{ category }}">All</h4> -->
                        </div>
                        <div class="fs-grid-viewport" style="position:relative;">
                            <div class="row">
                              {% if not articles %}
                              {{ 'No articles found' }}
                              {% endif %}
                                 {% for article in articles %}
							<div class="col-sm-6 masonry-item vogue">
										<div class="fs-grid-item">
											<a class="fs-entry-image">
                        {% if article.article_pic %}
                          <img src="{% thumbnail article.article_pic '1920' as im %}{{ im.url }}{% endthumbnail %}"
                              srcset="
                                  {% thumbnail article.article_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail article.article_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail article.article_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail article.article_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail article.article_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                              alt="Some awesome soup"
                              sizes="100vw"
                            />
                          {% endif %}
											</a>
											<div class="fs-entry-meta">
												<span><a href="{% url 'subcategory_view' category=article.category.slug sub_category=article.sub_category.slug %}">{{ article.sub_category.name }}</a></span>
												<span><a>{{ article.updated_at }} </a></span>
                                              {% for author in article.get_authors %}
												<span><a href="{% url 'author_view' author_id=author %}">{{ author }}</a></span>
                                             {% endfor %}

											</div>
											<h3>
												<a>{{ article.title }}</a>
											</h3>
											<p class="read-more">
												<a href="{% url 'article_view' category=article.category.slug sub_category=article.sub_category.slug title=article.slug %}">Διάβαστε το Αρθρο</a>
											</p>
										</div>
									</div>
									{% endfor %}

									</div>
							<!-- /.fs-grid-viewport -->
                        </div>

                    </div>

                </div>
                <!-- //theiaStickySidebar -->
               <nav class="mt-4" aria-label="Page navigation sample">
            {% if articles.has_other_pages %}
          <ul class="pagination">
              {% if articles.has_previous %}
            <li class="page-item "><a class="page-link" href="?page={{articles.previous_page_number}}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% for i in articles.paginator.page_range %}
                {% if articles.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            {% if articles.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{articles.next_page_number}}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
            </div>
            {% include 'includes/sidebar.html'%}
        </div>

    </div>
</div>

{% endblock %}
