{% extends 'base.html'%}
{% load static %}
{% block headblock %}

<title>VerginaNews | Επικαιρότητα και Τελευταίες Ειδήσεις </title>
<meta name="description" content="Vergina - Blog, News and Magazine">

<meta name="keywords" content="{% for tag in popular_tags %} {{ tag }},{% endfor %}" >

<meta name="author" content="VerginaNews">

{% endblock %}
{% load humanize %}
{% load thumbnail %}
{% block content %}
<div class="content-area pvt0 entertainment-layout">

  <div class="section-full fs-slide pt5 d-none d-sm-block">
    <div
      style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff; background-color: #fff;"
      class="swiper mySwiper"
    >
      <div class="swiper-wrapper">
        {% for important in important_list %}
        <div class="swiper-slide">
          {% if important.article_pic %}
          <div class="fs-entry-bg">
            <img
              src="{{ important.article_pic.url }}"
              class="swiper-lazy"
              alt="{{ important.title }}"
            />

          </div>
          {% endif %}
          <div class="container mt6">
            <div class="row">
              <div class="col-md-6">
                <div class="fs-entry-item">
                  <!-- <img class="verginabanner" src="{% static 'images/sun_Gold.svg' %}" alt="{{ important.title }}" > -->
                  <h4 class="fs-title fs-animate-text" data-label="{{ important.sub_category.name }}">Latest</h4>
                  {% if important.sub_category %}
                  <a href="{% url 'article_view' category=important.category.slug sub_category=important.sub_category.slug title=important.slug %}"><h3 class="fs-animate-text" data-swiper-parallax="-300">{{ important.title }}</h3></a>
                  {% else %}
                  <a href="{% url 'article_view' category=important.category.slug sub_category=important.category.slug title=important.slug %}"><h3 class="fs-animate-text" data-swiper-parallax="-300">{{ important.title }}</h3></a>
                  {% endif %}


                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
    </div>
    <div thumbsSlider="" class="swiper mySwiper2">
      <div class="swiper-wrapper">
        {% for important in important_list %}
        <div class="swiper-slide">
          {% if important.article_pic %}
          <img
            src="{{ important.article_pic.url }}"
            class="swiper-lazy"
            alt="{{ important.title }}"
          />

          {% endif %}
        </div>
        {% endfor %}
      </div>
      class="swiper-button-next"class="swiper-button-next"
    </div>
  </div>

  <div class="boxed mt-4">
  {% for important in important_list %}
  {% if important.sub_category %}
  <a href="{% url 'article_view' category=important.category.slug sub_category=important.sub_category.slug title=important.slug %}">
  {% else %}
  <a href="{% url 'article_view' category=important.category.slug sub_category=important.category.slug title=important.slug %}">
  {% endif %}

  <div class="section-mobile-carousel mt-4">
    {% if important.article_pic %}
    <img src="{{ important.article_pic.url }}" alt="{{ important.title }}"/>
    {% endif %}
    {% if important.has_video %}
    <a class="video-player"></a>
    {% endif %}
    <span class="date">{{important.updated_at|date:"d.m.Y, H:i"}}</span>
    <h4 class="font28">{{ important.title }}</h4>
  </div>
  </a>
  {% endfor %}
  </div>





        <!-- <div class="section-full pb8"> -->




        <!-- // Picture News -->
        <div class="container">


            <div class="row">
              {% if ad_banner_1 %}
                {% if ad_banner_1.ad_pic %}
                  <div class="col-sm-12 pv3 pvb0">
                    <a id='yo' href="{{ ad_banner_1.url }}">
                      <form class="form-submit" method="post" target="_blank">
                        {% csrf_token %}
                        <a href="{{ ad_banner_1.url }}" style="z-index: 800;" target="_blank">
                        <input id='Ad ID' type="image" src="{{ ad_banner_1.ad_pic.url }}" value="{{ ad_banner_1.id }}" style="z-index: 800;" class="img-fluid" alt="Image">
                        <input type="hidden" name="ad_id" value="{{ ad_banner_1.id }}">
                      </a>
                      </form>
                    </a>
                  </div>
                {% else %}
                  {{ ad_banner_1.widget }}
                {% endif %}
              {% endif %}
            </div>

            <div class="border-line mv3"></div>




  <!-- Section 5 -->

  <div class="row">

    <div class="col-md-12">

        <h2 class="block-title mt8" data-title="News">
          Vergina
        <!-- <a href="{% url 'articles_view' search='all' %}" class="category-more text-right">Continue to the news <img src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a> -->
        </h2>

    </div>
</div>


    <div class="row">

        <div class="col-lg-9 mb-2">

            <div class="boxed wide-space">
            <div class="category-block en-block">

                <div class="panel-ticker mb2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">

                                    <div class="widget">
                                        <h5 class="widget-title"><span>Tag Cloud:</span></h5>
                                        <div class="widget-tags">
                                            {% for tag in popular_tags %}
                                            {% if forloop.counter < 11 %}
                                            <a href="{% url 'articles_view' search=tag %}">{{ tag }}</a>
                                            {% endif %}
                                          {% endfor %}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for frontnew in frontnews_list %}
                {% if forloop.counter < 2 %}

                <div class="post color-1">
                  {% if frontnew.sub_category %}
                    <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">
                      {% else %}
                      <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}">
                      {% endif %}
                        <div class="image">
                          {% if frontnew.article_pic %}

                            <img src="{% thumbnail recipe.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
                                srcset="
                                    {% thumbnail frontnew.article_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail frontnew.article_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail frontnew.article_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail frontnew.article_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                    {% thumbnail frontnew.article_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                                alt="{{ frontnew.title}}"
                                sizes="100vw"
                              />


                            {% endif %}
                            {% if frontnew.sub_category %}
                            <a href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                            {% else %}
                            <a href="{% url 'category_view' category=frontnew.category.slug %}" class="label">{{ frontnew.category.name }}</a>
                            {% endif %}

                            {% if frontnew.has_video %}
                            <a class="video-player"></a>
                            {% endif %}
                        </div>
                    </a>
                    <div class="meta font18 inline-meta">
                        {% for author in frontnew.get_authors %}
                        <a href="{% url 'author_view' author_id=author.slug %}">{{ author }}</a>
                        {% endfor %}
                        <span class="date">{{ frontnew.updated_at|date:"d.m.Y, H:i" }}</span>


                    </div>
                    <div class="clearfix"></div>
                    {% if frontnew.sub_category %}
                    <h4 class="font28"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">{{ frontnew.title}}</a></h4>
                    {% else %}
                    <h4 class="font28"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}">{{ frontnew.title}}</a></h4>
                    {% endif %}

                    <div class="border-line"></div>
                    </div>

                {% endif %}
                {% endfor %}

            </div>
            <!-- end .category-block -->

            <!-- /.col -->
            <div class="row">
              {% if ad_news_1 %}
                {% if ad_news_1.ad_pic %}
                  <div class="col-sm-12 pv3 pvb0">
                    <a id='yo' href="{{ ad_news_1.url }}">
                      <form class="form-submit" method="post" target="_blank">
                        {% csrf_token %}
                        <a href="{{ ad_news_1.url }}" style="z-index: 800;" target="_blank">
                        <input id='Ad ID' type="image" src="{{ ad_news_1.ad_pic.url }}" value="{{ ad_news_1.id }}" style="z-index: 800;" class="img-fluid" alt="Image">
                        <input type="hidden" name="ad_id" value="{{ ad_news_1.id }}">
                      </a>
                      </form>
                    </a>
                  </div>
                {% else %}
                  {{ ad_news_1.widget }}
                {% endif %}
              {% endif %}
            </div>

            <div class="border-line mb5"></div>

            <div class="row category-block en-block">
                {% for frontnew in frontnews_list %}
                {% if forloop.counter > 1 and forloop.counter < 5 %}
                <div class="col-md-6">

                    <div class="post hover-dark color-1">
                      {% if frontnew.sub_category %}
                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}"></a>
                        {% else %}
                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}"></a>
                        {% endif %}
                          {% if frontnew.article_pic %}
                          {% if frontnew.sub_category %}
                          <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">
                            {% else %}
                            <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}">
                              {% endif %}
                            <div class="image" data-src="{{ frontnew.article_pic.url }}">

                              <img loading="lazy" src="{% thumbnail recipe.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
                              srcset="
                                  {% thumbnail frontnew.article_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail frontnew.article_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail frontnew.article_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail frontnew.article_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail frontnew.article_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                              alt="{{ frontnew.title}}"
                              sizes="100vw"
                            />
                            {% if frontnew.sub_category %}
                                <a style="z-index: 800;"href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                              {% else %}
                              <a style="z-index: 800;"href="{% url 'category_view' category=frontnew.category.slug %}" class="label">{{ frontnew.category.name }}</a>
                              {% endif %}
                                {% if frontnew.has_video %}
                                <a class="video-player"></a>
                                {% endif %}


                            </div>
                            {% endif %}
                        </a>
                        <div class="meta inline-meta small-meta">
                            {% for author in frontnew.get_authors %}
                            <a href="{% url 'author_view' author_id=author.slug %}">{{ author }}</a>
                            {% endfor %}
                            <span class="date">{{ frontnew.updated_at |date:"d.m.Y, H:i"}}</span>
                        </div>
                        {% if frontnew.sub_category %}
                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                        {% else %}
                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                        {% endif %}

                    </div>


                </div>
                {% endif%}
                {% endfor %}
                <!-- /.col -->

                <!-- /.col -->

                {% if ad_news_2 %}
                {% if ad_news_2.ad_pic %}
                  <div class="col-sm-6 pv3 pvb0">
                    <form class="form-submit" method="post" target="_blank">
                      {% csrf_token %}
                      <a href="{{ ad_news_2.url }}" style="z-index: 800;" target="_blank">
                      <input id='Ad ID' type="image" src="{{ ad_news_2.ad_pic.url }}" value="{{ ad_news_2.id }}" style="z-index: 800;" class="img-fluid" alt="Image">
                      <input type="hidden" name="ad_id" value="{{ ad_news_2.id }}">

                    </a>
                    </form>
                  </div>
                {% else %}
                  {{ ad_news_2.widget }}
                {% endif %}
              {% endif %}


                {% for frontnew in frontnews_list %}
                {% if forloop.counter > 4 and forloop.counter < 7 %}
                <div class="col-md-6">

                    <div class="post hover-dark color-1">
                      {% if frontnew.sub_category %}
                      <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">
                        {% else %}
                        <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}">
                        {% endif %}
                          {% if frontnew.article_pic %}
                            <div class="image" data-src="{{ frontnew.article_pic.url }}">
                              <img loading="lazy" src="{% thumbnail recipe.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
                              srcset="
                                  {% thumbnail frontnew.article_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail frontnew.article_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail frontnew.article_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail frontnew.article_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                  {% thumbnail frontnew.article_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                              alt="{{ frontnew.title}}"
                              sizes="100vw"
                            />
                            {% if frontnew.sub_category %}
                                <a style="z-index: 800;" href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                                {% else %}
                                <a style="z-index: 800;" href="{% url 'category_view' category=frontnew.category.slug  %}" class="label">{{ frontnew.category.name }}</a>
                                {% endif %}

                                {% if frontnew.has_video %}
                                <a class="video-player"></a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </a>
                        <div class="meta inline-meta small-meta">
                            {% for author in frontnew.get_authors %}
                            <a href="{% url 'author_view' author_id=author.slug %}">{{ author }}</a>
                            {% endfor %}
                            <span class="date">{{ frontnew.updated_at |date:"d.m.Y, H:i"}}</span>
                        </div>
                        {% if frontnew.sub_category %}
                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                        {% else %}
                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                        {% endif %}

                    </div>

                </div>
                {% endif%}
                {% endfor %}
            </div>

            <!-- /.col -->
            <div class="row">
              {% if ad_news_3 %}
                {% if ad_news_3.ad_pic %}
                  <div class="col-md-12 pv3 pvb0">
                    <form class="form-submit" method="post" target="_blank">
                      {% csrf_token %}
                      <a href="{{ ad_news_3.url }}" style="z-index: 800;" target="_blank">
                      <input id='Ad ID' type="image" src="{{ ad_news_3.ad_pic.url }}" value="{{ ad_news_3.id }}" style="z-index: 800;" class="img-fluid" alt="Image">
                      <input type="hidden" name="ad_id" value="{{ ad_news_3.id }}">
                    </a>
                    </form>
                  </div>
                {% else %}
                  {{ ad_news_3.widget }}
                {% endif %}
              {% endif %}
            </div>


            <h3 class="title-middle title-border"></h3>

							<div class="row">
                                {% for frontnew in frontnews_list %}
                                {% if forloop.counter > 6 and forloop.counter < 8 %}
                                <div class="col-md-6">

                                    <div class="post hover-dark color-1">
                                      {% if frontnew.sub_category %}
                                        <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">
                                          {% else %}
                                          <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}">
                                          {% endif %}
                                          {% if frontnew.article_pic %}
                                          <div class="image" data-src="{{ frontnew.article_pic.url }}">

                                            <img loading="lazy" src="{% thumbnail recipe.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
                                            srcset="
                                                {% thumbnail frontnew.article_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                                {% thumbnail frontnew.article_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                                {% thumbnail frontnew.article_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                                {% thumbnail frontnew.article_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                                                {% thumbnail frontnew.article_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                                            alt="{{ frontnew.title }}"
                                            sizes="100vw"
                                          />
                                          {% if frontnew.sub_category %}
                                              <a style="z-index: 800;" href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                                              {% else %}
                                              <a style="z-index: 800;" href="{% url 'category_view' category=frontnew.category.slug %}" class="label">{{ frontnew.category.name }}</a>
                                              {% endif %}
                                              {% if frontnew.has_video %}
                                              <a class="video-player"></a>
                                              {% endif %}


                                          </div>
                                          {% endif %}
                                        </a>
                                        <div class="meta inline-meta small-meta">
                                            {% for author in frontnew.get_authors %}
                                            <a href="{% url 'author_view' author_id=author.slug %}">{{ author }}</a>
                                            {% endfor %}
                                            <span class="date">{{ frontnew.updated_at |date:"d.m.Y, H:i"}}</span>
                                        </div>
                                        {% if frontnew.sub_category %}
                                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                                        {% else %}
                                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                                        {% endif %}

                                    </div>


                                </div>
                                {% endif %}
                                {% endfor %}


								<div class="col-md-6">
                  {% for frontnew in frontnews_list %}
                  {% if forloop.counter > 7 %}
									<div class="category-block articles">
									    <div class="post hover-light">
                        {% if frontnew.sub_category %}
											<a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">
                        {% else %}
                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}">
                        {% endif %}
                        {% if frontnew.article_pic %}
												<div class="image image-thumb" data-src="{{ frontnew.article_pic.url }}"></div>
                        {% endif %}
											</a>
                      {% if frontnew.sub_category %}
											<h4><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                      {% else %}
                      <h4><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                      {% endif %}
											<p>{{ frontnew.text | safe | slice:":100" }}...</p>
											<div class="meta">
                                                {% for author in frontnew.get_authors %}
                                                <a href="{% url 'author_view' author_id=author.slug %}">{{ author }}</a>
                                                {% endfor %}
												<span class="date">{{ frontnew.updated_at |date:"d.m.Y, H:i"}}</span>
											</div>
										</div>

								    </div>
                    {% endif%}
                    {% endfor %}
								</div>
							</div>
              <div class="row">
                {% if ad_news_4 %}
                  {% if ad_news_4.ad_pic %}
                    <div class="col-md-12 pv3 pvb0">
                      <form class="form-submit" method="post" target="_blank">
                        {% csrf_token %}
                        <a href="{{ ad_news_4.url }}" style="z-index: 800;" target="_blank">
                        <input id='Ad ID' type="image" src="{{ ad_news_4.ad_pic.url }}" value="{{ ad_news_4.id }}" style="z-index: 800;" class="img-fluid" alt="Image">
                        <input type="hidden" name="ad_id" value="{{ ad_news_4.id }}">
                      </a>
                      </form>
                    </div>
                  {% else %}
                    {{ ad_news_4.widget }}
                  {% endif %}
                {% endif %}
              </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- end .col-md-8 -->
    <div class="col-lg-3  category-block en-block ">
      <div class="sidebar boxed p3 mb-3">
      <h4 class="font40" style="text-align: center;"><a href="{% url 'articles_view' search='all' %}">Ρoή Ειδήσεων</a></h4>
      <div class="simple-tab-space">

          <div class="tab-title clearfix">
              <a href="#" class="active">Ειδήσεις</a>
              <a href="#">Δημοφιλή</a>

          </div>

          <div class="tab-panel">
              <div class="tab-content active">
                  {% for latest in roaming_news_list %}
                  <div class="post hover-light">
                    {% if latest.sub_category %}
                      <a href="{% url 'article_view' category=latest.category.slug sub_category=latest.sub_category.slug title=latest.slug %}">
                        {% else %}
                        <a href="{% url 'article_view' category=latest.category.slug sub_category=latest.category.slug title=latest.slug %}">
                          {% endif %}
                        {% if latest.article_pic %}
                          <div class="image image-thumb"  loading="lazy" data-src="{{ latest.article_pic.url }}">

                          </div>
                        {% endif %}
                      </a>
                      {% if latest.sub_category %}
                      <h4 class="font16" method="post"><a href="{% url 'article_view' category=latest.category.slug sub_category=latest.sub_category.slug title=latest.slug %}">{{ latest.title }}</a></h4>
                      {% else %}
                      <h4 class="font16" method="post"><a href="{% url 'article_view' category=latest.category.slug sub_category=latest.category.slug title=latest.slug %}">{{ latest.title }}</a></h4>
                      {% endif %}
                      <div class="meta">

                      </div>
                      <span class="date">{{ latest.updated_at |date:"d.m.Y, H:i"}}</span>
                      <div class="border-bottom" ></div>
                  </div>
                  {% endfor %}
                   <!-- end .post -->

                  <a href="{% url 'articles_view' search='all' %}" class="category-more">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ<img src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                </div>

              <!-- /.tab-panel -->

              <div class="tab-content">
                {% for pouplar in popular_news_list %}
                <div class="post hover-light">
                  {% if pouplar.sub_category %}
                    <a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.sub_category.slug title=pouplar.slug %}">
                      {% else %}
                      <a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.category.slug title=pouplar.slug %}">
                      {% endif %}
                      {% if pouplar.article_pic %}
                      <div class="image image-thumb"  loading="lazy" data-src="{{ pouplar.article_pic.url }}"></div>

                    {% endif %}
                    </a>
                    {% if pouplar.sub_category %}
                    <h4 class="font16" method="post"><a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.sub_category.slug title=pouplar.slug %}">{{ pouplar.title }}</a></h4>
                    {% else %}
                    <h4 class="font16" method="post"><a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.category.slug title=pouplar.slug %}">{{ pouplar.title }}</a></h4>
                    {% endif %}
                    <!-- <p>{{ pouplar.text | safe | slice:":100" }}...</p> -->

                    <div class="meta">
                        <span class="date">{{ latest.updated_at |date:"d.m.Y, H:i"}}</span>
                    </div>
                </div>
                {% endfor %}
                 <!-- end .post -->


                  <a href="{% url 'articles_view' search='popular' %}" class="category-more">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ<img src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>


              </div>
              <!-- /.tab-panel -->
                      <div class="tab-content">
                  <!-- /.row -->
              </div>
              <!-- /.tab-panel -->

           </div>
          <!-- /.tab-panel -->
      </div>
              <!-- /.simple-tab-space -->

          </div>
          <!-- <div class="sidebar boxed p3 mt2">
              <h4 class="font40" style="text-align: center;"><a href="#">Stocks</a></h4>


              </div> -->
              <!-- TradingView Widget BEGIN -->

<div class="tradingview-widget-container">
<div class="tradingview-widget-container__widget"  ></div>
<div class="tradingview-widget-copyright"  ><a  href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Crypto</span></a> <span class="blue-text">and</span> <a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Stocks</span></a> by TradingView</div>
<script type="text/javascript"  src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
{
  "title": "TretingView",
  "colorTheme": "light",
  "dateRange": "12M",
  "showChart": false,
  "locale": "en",
  "width": "100%",
  "height": "465",
  "largeChartUrl": "",
  "isTransparent": false,
  "showSymbolLogo": true,
  "showFloatingTooltip": true,
  "tabs":  [
{
  "title": "Forex",
  "symbols": [
    {
      "s": "FX:EURUSD",
      "d": "EUR/USD"
    },
    {
      "s": "FX:GBPUSD",
      "d": "GBP/USD"
    },
    {
      "s": "FX:USDJPY",
      "d": "USD/JPY"
    },
    {
      "s": "FX:USDCHF",
      "d": "USD/CHF"
    },
    {
      "s": "FX:AUDUSD",
      "d": "AUD/USD"
    },
    {
      "s": "FX:USDCAD",
      "d": "USD/CAD"
    }
  ],
  "originalTitle": "Forex"
},
{
  "title": "Crypto",
  "symbols": [
    {
      "s": "BITSTAMP:BTCUSD",
      "d": "BTC/USD"
    },
    {
      "s": "BITSTAMP:ETHUSD",
      "d": "ETH/USD"
    },
    {
      "s": "BINANCE:XRPUSDT",
      "d": "XRP/USDT"
    },
    {
      "s": "BINANCE:SHIBUSDT",
      "d": "SHIP/USDT"
    },
    {
      "s": "BINANCE:DOTUSDT",
      "d": "DOT/USDT"
    },
    {
      "s": "BINANCE:LINKUSDT",
      "d": "LINK/USDT"
    }
  ],
  "originalTitle": "Crypto"
},
{
  "title": "Stocks",
  "symbols": [
    {
      "s": "NASDAQ:AAPL",
      "d": "AAPL"
    },
    {
      "s": "NASDAQ:TSLA",
      "d": "TSLA"
    },
    {
      "s": "NASDAQ:AMZN",
      "d": "AMZN"
    },
    {
      "s": "NASDAQ:MSFT",
      "d": "MSFT"
    },
    {
      "s": "NASDAQ:GOOGL",
      "d": "GOOGL"
    },
    {
      "s": "NASDAQ:META",
      "d": "META"
    }
  ],
  "originalTitle": "Stocks"
}
],
  "originalTitle": "TratingView"
}
</script>

</div>

<!-- TradingView Widget END -->


      </div>

  <!-- end .col-md-4 -->




    </div><!-- /.row -->
<!-- </div> -->
    <!-- <div class="row">
            <i class="fa fa-chevron-up scroll-to-top"></div>
            </div> -->

            <!-- Ne setion -->
            <div class="section-full pv9 pvb0">

        <!-- end .container -->
        </div>
 <!-- New Section -->
 <div class="section-full pv9 pvb0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="fs-blog-carousel" data-col="4" data-row="2" data-responsive="3,2,1">
                    <h3 class="fs-title text-center">World News</h3>
                    <div class="fs-pager">
                        <span>
                            <a href="single.html" class="fs-arrow-prev swiper-prev"><img src="{% static 'images/arrow-prev.png' %}" alt="preview"></a>
                            <i class="fs-current-index">1</i> of <i class="fs-current-total">1</i>
                            <a href="single.html" class="fs-arrow-next swiper-next"><img src="{% static 'images/arrow-next.png' %}" alt="preview"></a>
                        </span>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                          {% for article in external_articles %}
                             <div class="swiper-slide">
                                <div class="fs-blog-item boxed-title">
                                    <a href="{{ article.url }}">
                                        <img loading="lazy" fetchpriority="low" src="{{ article.urlToImage }}" alt="portfolio image">
                                    </a>
                                    <span class='fs-label'>Hottest</span>
                                    <div class="entry-title">
                                        <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>

                                    </div>
                                </div>
                            </div>
                           {% endfor %}
                         </div>
                    </div>
                </div>
                <div class="border-bottom2 mb4 mt2" ></div>
            </div>
        </div>
    </div>
</div>

<!-- /.col -->
<div class="row">
  {% if ad_banner_2 %}
    {% if ad_banner_2.ad_pic %}
      <div class="col-sm-12 pv3 pvb0">

        <form class="form-submit" method="post" target="_blank">
          {% csrf_token %}
          <a href="{{ ad_banner_2.url }}" style="z-index: 800;" target="_blank">
          <input id='Ad ID' type="image" src="{{ ad_banner_2.ad_pic.url }}" value="{{ ad_banner_2.id }}" style="z-index: 800;" class="img-fluid" alt="Image">
          <input type="hidden" name="ad_id" value="{{ ad_banner_2.id }}">

        </a>
        </form>
      </div>
    {% else %}
      {{ ad_banner_2.widget }}
    {% endif %}
  {% endif %}
</div>
<div class="col-md-12 ">
        <h2 class="block-title mt8" data-title="ΑΡΘΡΟΓΡΑΦΟΙ" >
          ΑΡΘΡΟΓΡΑΦΟΙ
        </h2>

        <div class="boxed wide-space en-block">

			<div class="row">
                {% for author in authors_list %}
				<div class="col-sm-4">

					<div class="post quote color-1">

						<div class="meta bullet-style">
							<span class="author">{{ author.name }}</span>
						</div>
						<blockquote>{{ author.short_bio }}</blockquote>
						<div class="author clearfix">
							<a href="{% url 'author_view' author_id=author.slug %}">
                {% if author.prof_pic%}
								<img loading="lazy"  class="image image-thumb border-radius" src="{{ author.prof_pic.url}}" alt="Image">
                {% endif %}
							</a>
						</div>
						<!-- /.meta -->

						<a href="{% url 'author_view' author_id=author.slug %}" class="category-more">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ<img src="{% static 'images/arrow-right.png' %}" alt="Arrow"></a>

					</div>

				</div>
                {% endfor %}
				<!-- /.col -->

			</div>
			<!-- /.row -->

		</div>
		<!-- /.boxed -->
</div>
	<!-- end .col-md-12 -->

</div>
<!-- end .row -->
<!-- New Section -->
<!-- <div class="infinite-container"> -->
{% for category in categories_list %}

<div class="content-area pvt0 entertainment-layout " >

    <div class="container infinite-container">

      <div class="row infinite-item">
        <div class="col-md-12 ">

          <h2 class="block-title mt8" data-title="{{ category.name }}">
            {{ category.name }}
            <a href="{% url 'category_view' category=category.slug %}" class="category-more text-right"
              >ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ
              <img loading="lazy" fetchpriority="low" src="{% static 'images/arrow-right.png' %}" alt="Arrow"
            /></a>
          </h2>

          <div
            class="article-carousel boxed en-block category-block wide-space color-1 mb5"
          >
            <div class="swiper-container carousel-container">
              <div class="row">
                {% for articles in category.get_articles %}
                {% if forloop.counter < 3 %}
                <div class="col-md-6">

                  <div class="post first hover-dark">
                    {% if category.sub_category %}
                    <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}">
                      {% else %}
                      <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=articles.category.slug sub_category=articles.category.slug title=articles.slug %}">
                        {% endif %}


                      {% if articles.article_pic %}
                      <div
                        class="image"
                        data-src="{{ articles.article_pic.url }}"
                      >

                      <img loading="lazy" src="{% thumbnail recipe.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
                      srcset="
                          {% thumbnail articles.article_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                          {% thumbnail articles.article_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                          {% thumbnail articles.article_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                          {% thumbnail articles.article_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                          {% thumbnail articles.article_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                      alt="Some awesome soup"
                      sizes="100vw"
                    />
                    {% if category.sub_category %}
                        <a style=" z-index: 800;" href="{% url 'subcategory_view' category=articles.category.slug sub_category=articles.sub_category.slug %}" class="label bgred">{{ articles.sub_category.name }}</a>
                        {% else %}
                        <a style=" z-index: 800;" href="{% url 'category_view' category=articles.category.slug %}" class="label bgred">{{ articles.category.name }}</a>
                        {% endif %}
                        {% if articles.has_video %}
                        <a class="video-player"></a>
                        {% endif %}
                      </div>
                      {% endif %}
                      <div class="meta inline-meta small-meta">
                        {% for author in articles.get_authors %}
                        <a href="{% url 'author_view' author_id=author.slug %}">{{ author }}</a>
                        {% endfor %}
                        <span class="date">{{ articles.updated_at |date:"d.m.Y, H:i"}}</span>
                      </div>
                    </a>

                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="post hover-light">
                        {% if category.sub_category %}
                        <h4>
                          <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}"
                            >{{ articles.title }}</a
                          >
                        </h4>
                        {% else %}
                        <h4>
                          <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.category.slug title=articles.slug %}"
                            >{{ articles.title }}</a
                          >
                        </h4>
                        {% endif %}
                        <!-- <p>
                            {{articles.text | safe | slice:":200" }}...
                        </p> -->
                      </div>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="border-bottom2 mb2 color-1"></div>
                </div>
                <!-- /.col -->
                {% endif %}
                {% endfor %}
              </div>
              <div class="row">
                {% for articles in category.get_articles %}
                {% if forloop.counter > 2 %}
                <div class="col-md-3">
                  <div class="post hover-light">
                    {% if category.sub_category %}
                    <a style="position: inherit; z-index: 800; height: 120px;" href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}">
                      {% else %}
                      <a style="position: inherit; z-index: 800; height: 120px;" href="{% url 'article_view' category=articles.category.slug sub_category=articles.category.slug title=articles.slug %}">
                        {% endif %}
                    {% if articles.article_pic %}
                    <div
                      class="image"
                      data-src="{{ articles.article_pic.url }}"
                    >

                    <img loading="lazy" style=" height: 120px;" src="{% thumbnail recipe.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
                    srcset="
                        {% thumbnail articles.article_pic '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                        {% thumbnail articles.article_pic '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                        {% thumbnail articles.article_pic '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                        {% thumbnail articles.article_pic '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                        {% thumbnail articles.article_pic '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                    alt="Some awesome soup"
                    sizes="100vw"
                  />
                      {% if articles.has_video %}
                      <a class="video-player"></a>
                      {% endif %}
                      {% if category.sub_category %}
                      <a style=" z-index: 800;" href="{% url 'subcategory_view' category=articles.category.slug sub_category=articles.sub_category.slug %}" class="label bgred">{{ articles.sub_category.name }}</a>
                      {% else %}
                      <a style=" z-index: 800;" href="{% url 'category_view' category=articles.category.slug  %}" class="label bgred">{{ articles.category.name }}</a>
                      {% endif %}


                    </div>
                    {% endif %}
                  </a>
                    <div class="meta inline-meta small-meta">
                      {% for author in articles.get_authors %}
                      <a href="{% url 'author_view' author_id=author.slug %}">{{ author }}</a>
                      {% endfor %}
                      <span class="date">{{ articles.updated_at |date:"d.m.Y, H:i"}}</span>
                    </div>
                    <!-- <div class="border-bottom2 mb2 color-1"></div> -->
                    <h4 class="font18">
                      {% if category.sub_category %}
                      <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}"
                        >{{ articles.title }}</a
                      >
                      {% else %}
                      <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.category.slug title=articles.slug %}"
                      >{{ articles.title }}</a
                    >
                    {% endif %}
                    </h4>
                    <!-- <p>
                        {{articles.text | safe | slice:":150" }}...
                    </p> -->
                  </div>
                </div>
                <!-- /.col -->
                {% endif %}
                {% endfor %}

              </div>
              <!-- /.row -->

              <div class="border-bottom2 mb2 color-1"></div>
            </div>
            <!-- /.swiper-container -->
          </div>
          <!-- /.section-carousel -->


 <!-- <div class="border-bottom2 mb2 color-1"></div> -->
        <div class="row">
            <div class="col-12">
                {% if categories_list.has_next %}
                <a class="infinite-more-link" href="?page={{ categories_list.next_page_number }}"></a>
                {% endif %}
                </span>
            </div>

        </div>
        <!-- end .col-md-12 -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .container -->
  </div>

  {% endfor %}

<!-- </div> -->


</div>
		</div>
		<!-- /.boxed -->
    </div>
    <!-- <script type="text/javascript" src="{% static 'vendors/jquery.waypoints.js' %}" ></script> -->
    <script src="{% static 'vendors/jquery.waypoints.min.js' %}"></script>
    <script src="/static/vendors/infinite.min.js"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

            offset: 'bottom-in-view',

            onBeforePageLoad: function () {
                // $('.loading').show();
            },
            onAfterPageLoad: function () {
                // $('.loading').hide();
            }

        });


    </script>


{% endblock %}
