{% extends 'base.html'%}
{% load static %}
{% block headblock %}

<title>VerginaNews | Επικαιρότητα και Τελευταίες Ειδήσεις </title>
<meta name="description" content="Tana - Blog, News and Magazine HTML Template">

<meta name="keywords" content="{% for tag in popular_tags %} {{ tag }},{% endfor %}" >

<meta name="author" content="VerginaNews">

{% endblock %}
{% load humanize %}
{% block content %}



    <div class="content-area pvt0 entertainment-layout">
        <div class="section-full pv8">
              		<!-- Section 5 Slider -->
		<div class="movie-section">
      <div class="container">
          <div class="row">


              <div class="col-md-12">


                  <div class="row">

                      <div class="col-md-12">

                          <!-- Movie slider -->
                          <div class="gallery-slider movie-slider">

                              <!-- masterslider -->
                              <div class="master-slider ms-skin-default" id="masterslider4">
                                {% for important in important_list %}
                                       <div class="ms-slide color-1">
                                      <div class="slide-pattern tint"></div>
                                      {% if important.article_pic %}
                                      <img src="{{ important.article_pic_large.url }}" data-src="{{ important.article_pic_medium.url }}" alt="Image"/>
                                      {% endif %}
                                      <div class="ms-layer" data-effect="fade(400)" data-origin="tl" data-delay="0" data-offset-y="70"><a href="blog.html" class="label">{{ important.sub_category.name }}</a></div>
                                      <div class="ms-layer right-side" data-duration="300" data-ease="easeInOut">

                                          <div class="one-half animate-element movie-slider-meta" data-anim="fadeInUp">

                                              <h3><a href="single.html">{{ important.title }}</a></h3>
                                              <div class="meta">
                                                {% for author in important.get_authors %}
                                                  <span class="author">{{ author }}</span>
                                                  {% endfor %}
                                                  <span class="date">{{ important.updated_at|naturaltime }}</span>
                                              </div>
                                          </div>
                                          <!-- /.one-half -->

                                          <!-- <div class="one-half animate-element movie-slider-circle" data-anim="fadeInUp">
                                              <div class="bottom">
                                                  <div class="circle-chart" data-circle-width="7" data-percent="89" data-text="8.9 <small>IMDB</small>"></div>
                                              </div>

                                          </div> -->
                                          <!-- /.one-half -->
                                          <div class="clearfix"></div>
                                          <div class="excerpt border-top animate-element" data-anim="fadeInUp">{{ important.text | safe | slice:":200"}}</div>
                                          <!-- <a class="icon-link animate-element" data-anim="fadeInUp" href="single.html">Watch trailer <img src="images/entertainment/icon-play.png" alt="Icon"></a>
                                          <a class="icon-link animate-element" data-anim="fadeInUp" href="single.html">Read more <img src="images/entertainment/icon-magnifier.png" alt="Icon"></a> -->
                                      </div>

                                      <div class="ms-thumb">
                                        {% if important.article_pic %}
                                          <div class="image color-1" data-src="{{ important.article_pic.url }}"></div>
                                      </div>
                                      {% endif %}

                                  </div>

                                  {% endfor %}

                              </div>
                              <!-- end of masterslider -->

                          </div>
                          <!-- /.movie-slider -->

                      </div><!-- end col-md-12 -->

                  </div>
                  <!-- end .row -->


              </div>
              <!-- end .col-md-12 -->

          </div>
          <!-- end .row -->

      </div>
      <!-- /.movie-slider -->
  </div>
  <!-- /.container-fluid -->



        <!-- // Picture News -->
        <div class="container">
          
   
            
            <div class="row">
                <div class="col-sm-12 pv3 pvb0">
                    <a href="{{ ad.url }}">
                        <img class="img-fluid"src="{{ ad.ad_pic.url }}" loading="lazy"  alt="{{ ad.name }}">
                    </a>
                    {{ad.widget }}
                </div>
            </div>
            <div class="border-line mv3"></div>
 


  <!-- Section 5 -->

  <div class="row">

    <div class="col-md-12">

        <h2 class="block-title mt8" data-title="Vergina News">
        Front page
        <!-- <a href="{% url 'articles_view' search='all' %}" class="category-more text-right">Continue to the news <img src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a> -->
        </h2>

    </div>
</div>


    <div class="row">

        <div class="col-lg-9 ">

            <div class="boxed wide-space">
            <div class="category-block en-block">

                <div class="panel-ticker mb2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">

                                    <div class="widget">
                                        <h5 class="widget-title"><span>Tag Cloud:</span></h5>
                                        <div class="widget-tags">
                                            {% for tag in popular_tags %}
                                            <a href="{% url 'articles_view' search=tag %}">{{ tag }}</a>
                                          {% endfor %}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for frontnew in frontnews_list %}
                {% if forloop.counter < 2 %}

                <div class="post color-1">
                    <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">
                        <div class="image">
                          {% if frontnew.article_pic %}
                         
                            <source srcset="{{ frontnew.article_pic_small.url }}" type="image/jpeg" media="(max-width: 768px)" />
                            <source srcset="{{ frontnew.article_pic_medium.url }}" type="image/jpeg" media="(max-width: 1024px)" />
                            <img loading="lazy"  src="{{ frontnew.article_pic_large.url }}" alt="Proportion"/>   
                      
                        
                            {% endif %}
                            <a href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                            {% if frontnew.has_video %}
                            <a class="video-player"></a>
                            {% endif %}
                        </div>
                    </a>
                    <div class="meta font18 inline-meta">
                        {% for author in frontnew.get_authors %}
                        <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                        {% endfor %}
                        <span class="date">{{ frontnew.updated_at|naturaltime }}</span>


                    </div>
                    <div class="clearfix"></div>
                    <h4 class="font28"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">{{ frontnew.title}}</a></h4>
                    <div class="border-line"></div>
                    <p>{{ frontnew.text | safe |slice:":800"  }}...</p>
                    <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}" class="category-more">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ<img  src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                </div>
                {% endif %}
                {% endfor %}

            </div>
            <!-- end .category-block -->

            <div class="pv2">
                <!-- <a href="blog.html">
                    <img loading="lazy" src="{% static 'images/ads-660x440.png' %}" alt="Ads" class="full-size">
                </a> -->
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5039243942639303"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-5039243942639303"
     data-ad-slot="8825023724"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
            <div class="border-line mb5"></div>

            <div class="row category-block en-block">
                {% for frontnew in frontnews_list %}
                {% if forloop.counter > 1 and forloop.counter < 5 %}
                <div class="col-md-6">

                    <div class="post hover-dark color-1">
                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}"></a>
                          {% if frontnew.article_pic %}
                          <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">
                            <div class="image" data-src="{{ frontnew.article_pic.url }}">

                           
                                <source srcset="{{ frontnew.article_pic_small.url }}" type="image/jpeg" media="(max-width: 768px)" />
                                <source srcset="{{ frontnew.article_pic_medium.url }}" type="image/jpeg" media="(max-width: 1024px)" />
                                <img loading="lazy"  src="{{ frontnew.article_pic_large.url }}" alt="Proportion"/>   
                            
                                <a style="z-index: 800;"href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                                {% if frontnew.has_video %}
                                <a class="video-player"></a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </a>
                        <div class="meta inline-meta small-meta">
                            {% for author in frontnew.get_authors %}
                            <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                            {% endfor %}
                            <span class="date">{{ frontnew.updated_at|naturaltime }}</span>
                        </div>
                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                        <p>{{ frontnew.text | safe |slice:":600" }}...</p>
                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}" class="category-more">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ<img loading="lazy" src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                    </div>


                </div>
                {% endif%}
                {% endfor %}
                <!-- /.col -->

                <div class="col-md-6">
                    <!-- <div class="post first hover-dark color-2">
                        <a href="single.html">
                            <div class="image" data-src="images/entertainment/post-10.jpg">
                                <img loading="lazy"  src="images/5x3.png" alt="Proportion"/>
                            </div>
                        </a>
                    </div> -->
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5039243942639303"
     crossorigin="anonymous"></script>
<!-- testdiafimisi1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5039243942639303"
     data-ad-slot="9662365191"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>

                {% for frontnew in frontnews_list %}
                {% if forloop.counter > 4 and forloop.counter < 7 %}
                <div class="col-md-6">

                    <div class="post hover-dark color-1">
                      <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">
                          {% if frontnew.article_pic %}
                            <div class="image" data-src="{{ frontnew.article_pic.url }}">
                              
                                <source srcset="{{ frontnew.article_pic_small.url }}" type="image/jpeg" media="(max-width: 768px)" />
                                <source srcset="{{ frontnew.article_pic_medium.url }}" type="image/jpeg" media="(max-width: 1024px)" />
                                <img loading="lazy"  src="{{ frontnew.article_pic_large.url }}" alt="Proportion"/>   
                              
                                <a style="z-index: 800;" href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                                {% if frontnew.has_video %}
                                <a class="video-player"></a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </a>
                        <div class="meta inline-meta small-meta">
                            {% for author in frontnew.get_authors %}
                            <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                            {% endfor %}
                            <span class="date">{{ frontnew.updated_at|naturaltime }}</span>
                        </div>
                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                        <p>{{ frontnew.text | safe |slice:":600" }}...</p>
                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}" class="category-more">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ<img loading="lazy" src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                    </div>


                </div>
                {% endif%}
                {% endfor %}
            </div>
            <!-- /.col -->
            <div class="row">
                <div class="col-sm-12 mv3 mvt0">
                    <a href="entertainment.html">
                        <img loading="lazy"  src="images/pages/banner-1.jpg" alt="banner" class="full-size">
                    </a>
                </div>
            </div>

            <h3 class="title-middle title-border"></h3>

							<div class="row">
                                {% for frontnew in frontnews_list %}
                                {% if forloop.counter > 6 and forloop.counter < 8 %}
                                <div class="col-md-6">

                                    <div class="post hover-dark color-1">
                                        <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">
                                          {% if frontnew.article_pic %}
                                          <div class="image" data-src="{{ frontnew.article_pic.url }}">
                                           
                                              <source srcset="{{ frontnew.article_pic_small.url }}" type="image/jpeg" media="(max-width: 768px)" />
                                              <source srcset="{{ frontnew.article_pic_medium.url }}" type="image/jpeg" media="(max-width: 1024px)" />
                                              <img loading="lazy"  src="{{ frontnew.article_pic_large.url }}" alt="Proportion"/>   
                                          
                                              <a style="z-index: 800;" href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                                              {% if frontnew.has_video %}
                                              <a class="video-player"></a>
                                              {% endif %}
                                          </div>
                                          {% endif %}
                                        </a>
                                        <div class="meta inline-meta small-meta">
                                            {% for author in frontnew.get_authors %}
                                            <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                                            {% endfor %}
                                            <span class="date">{{ frontnew.updated_at|naturaltime }}</span>
                                        </div>
                                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
                                        <p>{{ frontnew.text | safe |slice:":600" }}...</p>
                                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}" class="category-more">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ<img loading="lazy" src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                                    </div>


                                </div>
                                {% endif%}
                                {% endfor %}


								<div class="col-md-6">
                  {% for frontnew in frontnews_list %}
                  {% if forloop.counter > 7 %}
									<div class="category-block articles">
									    <div class="post hover-light">
											<a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">
                        {% if frontnew.article_pic %}
												<div class="image image-thumb" data-src="{{ frontnew.article_pic_small.url }}"></div>
                        {% endif %}
											</a>
											<h4><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug title=frontnew.slug %}">{{ frontnew.title }}</a></h4>
											<p>{{ frontnew.text | safe | slice:":100" }}...</p>
											<div class="meta">
                                                {% for author in frontnew.get_authors %}
                                                <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                                                {% endfor %}
												<span class="date">{{ frontnew.updated_at|naturaltime }}</span>
											</div>
										</div>

								    </div>
                    {% endif%}
                    {% endfor %}
								</div>


							</div>
                                        <!-- /.col -->
            <div class="row">
                <!-- <div class="col-sm-12 mv3 mvt0">
                    <a href="entertainment.html">
                        <img loading="lazy" src="" alt="banner" class="full-size">
                    </a>
                </div> -->
                <amp-ad width="100vw" height="320"
     type="adsense"
     data-ad-client="ca-pub-5039243942639303"
     data-ad-slot="6643667222"
     data-auto-format="rspv"
     data-full-width="">
  <div overflow=""></div>
</amp-ad>
            </div>


        </div>
        <!-- /.row -->


    </div>
    <!-- end .col-md-8 -->
    <div class="col-lg-3  category-block en-block ">
      <div class="sidebar boxed p3 mb-3">
      <h4 class="font40" style="text-align: center;"><a href="#">Ρoή Ειδήσεων</a></h4>
      <div class="simple-tab-space">

          <div class="tab-title clearfix">
              <a href="#" class="active">Ειδήσεις</a>
              <a href="#">Δημοφιλή</a>

          </div>

          <div class="tab-panel">
              <div class="tab-content active">
                  {% for latest in roaming_news_list %}
                  <div class="post hover-light">
                      <a href="{% url 'article_view' category=latest.category.slug sub_category=latest.sub_category.slug title=latest.slug %}">
                        {% if latest.article_pic %}
                          <div class="image image-thumb"  loading="lazy" data-src="{{ latest.article_pic_small.url }}"></div>
                        {% endif %}
                      </a>
                      
                      <h4 class="font16" method="post"><a href="{% url 'article_view' category=latest.category.slug sub_category=latest.sub_category.slug title=latest.slug %}">{{ latest.title }}</a></h4>
                      <p>{{ latest.text | safe | slice:":100" }}...</p>
                      <div class="meta">
                        
                      </div>
                      <span class="date">{{ latest.updated_at|naturaltime }}</span>
                      <div class="border-bottom" ></div>
                  </div>
                  {% endfor %}
                   <!-- end .post -->

                  <a href="{% url 'articles_view' search='all' %}" class="category-more">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ<img src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                </div>

              <!-- /.tab-panel -->

              <div class="tab-content">
                {% for pouplar in popular_news_list %}
                <div class="post hover-light">
                    <a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.sub_category.slug title=pouplar.slug %}">
                      {% if pouplar.article_pic %}
                      <div class="image image-thumb"  loading="lazy" data-src="{{ pouplar.article_pic_small.url }}"></div>
                    {% endif %}
                    </a>

                    <h4 class="font16" method="post"><a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.sub_category.slug title=pouplar.slug %}">{{ pouplar.title }}</a></h4>
                    <p>{{ pouplar.text | safe | slice:":100" }}...</p>

                    <div class="meta">
                        <span class="date">{{ latest.updated_at|naturaltime }}</span>
                    </div>
                </div>
                {% endfor %}
                 <!-- end .post -->


                  <a href="" class="category-more">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ<img src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>


              </div>
              <!-- /.tab-panel -->
                      <div class="tab-content">
                  <!-- /.row -->
              </div>
              <!-- /.tab-panel -->

           </div>
          <!-- /.tab-panel -->
      </div>
              <!-- /.simple-tab-space -->

          </div>
          <!-- <div class="sidebar boxed p3 mt2">
              <h4 class="font40" style="text-align: center;"><a href="#">Stocks</a></h4>


              </div> -->
              <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
<div class="tradingview-widget-container__widget"></div>
<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Crypto</span></a> <span class="blue-text">and</span> <a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Stocks</span></a> by TradingView</div>
<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
{
"colorTheme": "light",
"dateRange": "1M",
"showChart": false,
"locale": "en",
"largeChartUrl": "",
"isTransparent": false,
"showSymbolLogo": true,
"showFloatingTooltip": false,
"width": "255",
"height": "465",
"tabs": [
{
  "title": "Forex",
  "symbols": [
    {
      "s": "FX:EURUSD",
      "d": "EUR/USD"
    },
    {
      "s": "FX:GBPUSD",
      "d": "GBP/USD"
    },
    {
      "s": "FX:USDJPY",
      "d": "USD/JPY"
    },
    {
      "s": "FX:USDCHF",
      "d": "USD/CHF"
    },
    {
      "s": "FX:AUDUSD",
      "d": "AUD/USD"
    },
    {
      "s": "FX:USDCAD",
      "d": "USD/CAD"
    }
  ],
  "originalTitle": "Forex"
},
{
  "title": "Crypto",
  "symbols": [
    {
      "s": "BITSTAMP:BTCUSD",
      "d": "BTC/USD"
    },
    {
      "s": "BITSTAMP:ETHUSD",
      "d": "ETH/USD"
    },
    {
      "s": "BINANCE:XRPUSDT",
      "d": "XRP/USDT"
    },
    {
      "s": "BINANCE:SHIBUSDT",
      "d": "SHIP/USDT"
    },
    {
      "s": "BINANCE:DOTUSDT",
      "d": "DOT/USDT"
    },
    {
      "s": "BINANCE:LINKUSDT",
      "d": "LINK/USDT"
    }
  ]
},
{
  "title": "Stocks",
  "symbols": [
    {
      "s": "NASDAQ:AAPL",
      "d": "AAPL"
    },
    {
      "s": "NASDAQ:TSLA",
      "d": "TSLA"
    },
    {
      "s": "NASDAQ:AMZN",
      "d": "AMZN"
    },
    {
      "s": "NASDAQ:MSFT",
      "d": "MSFT"
    },
    {
      "s": "NASDAQ:GOOGL",
      "d": "GOOGL"
    },
    {
      "s": "NASDAQ:META",
      "d": "META"
    }
  ]
}
]
}
</script>
</div>
<!-- TradingView Widget END -->


      </div>

  <!-- end .col-md-4 -->




    </div><!-- /.row -->
<!-- </div> -->
    <!-- <div class="row">
            <i class="fa fa-chevron-up scroll-to-top"></div>
            </div> -->

            <!-- Ne setion -->
            <div class="section-full pv9 pvb0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 ">

                            <div class="fs-blog-carousel" data-col="4" data-row="1" data-responsive="3,2,1">
                                <h3 class="fs-title text-center">Δημοφιλή στο Internet</h3>
                                <div class="fs-pager">
                                    <span>
                                        <a href="single.html" class="fs-arrow-prev swiper-prev"><img src="{% static 'images/arrow-prev.png' %}" alt="preview"></a>
                                        <i class="fs-current-index">1</i> of <i class="fs-current-total">1</i>
                                        <a href="single.html" class="fs-arrow-next swiper-next"><img src="{% static 'images/arrow-next.png' %}" alt="preview"></a>
                                    </span>
                                </div>
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for pouplar in popular_news_list %}
                                          <div class="swiper-slide">
                                            <div class="fs-blog-item">
                                                <a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.sub_category.slug title=pouplar.slug %}">
                                                  {% if pouplar.article_pic %}
                                                    <img loading="lazy" fetchpriority="low"  src="{{ pouplar.article_pic_small.url }}" alt="portfolio image">
                                                  {% endif %}
                                                </a>
                                                <h4><a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.sub_category.slug title=pouplar.slug %}">{{ pouplar.text | safe | slice:":100" }}...</a></h4>
                                            </div>
                                        </div>
                                        {% endfor %}

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <!-- end .container -->
        </div>
 <!-- New Section -->
 <div class="section-full pv9 pvb0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="fs-blog-carousel" data-col="4" data-row="2" data-responsive="3,2,1">
                    <h3 class="fs-title text-center">World News</h3>
                    <div class="fs-pager">
                        <span>
                            <a href="single.html" class="fs-arrow-prev swiper-prev"><img src="{% static 'images/arrow-prev.png' %}" alt="preview"></a>
                            <i class="fs-current-index">1</i> of <i class="fs-current-total">1</i>
                            <a href="single.html" class="fs-arrow-next swiper-next"><img src="{% static 'images/arrow-next.png' %}" alt="preview"></a>
                        </span>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                          {% for article in external_articles %}
                             <div class="swiper-slide">
                                <div class="fs-blog-item boxed-title">
                                    <a href="{{ article.url }}">
                                        <img loading="lazy" fetchpriority="low" src="{{ article.urlToImage }}" alt="portfolio image">
                                    </a>
                                    <span class='fs-label'>Hottest</span>
                                    <div class="entry-title">
                                        <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
                                        <p class="read-more">
                                            <a href="{{ article.url }}">read the article</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                           {% endfor %}
                         </div>
                    </div>
                </div>
                <div class="border-bottom2 mb4 mt2" ></div>
            </div>
        </div>
    </div>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5039243942639303"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-5039243942639303"
     data-ad-slot="8285704349"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% for category in categories_list %}
{% if category.name == "People" %}
            <!-- New Section -->
            <div class="row">

                <div class="col-md-12">

                    <h2 class="block-title mt8" data-title="Featured" >
                        {{ category.name }}
                    </h2>
                    {% for featured in category.get_featured %}
                    <div class="testimonial-slider fs-blog-carousel" style="background: #fff;" data-col="1" data-row="1" data-responsive="1,1,1">


                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                           <div class="swiper-slide">

                                    <div class="swiper-holder">

                                    {% if featured.article_pic %}
                                      <img loading="lazy" fetchpriority="auto"  src="{{ featured.article_pic.url }}" alt="Quote author" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" >
                                      {% endif %}
                                        <blockquote>
                                            <a href="{% url 'subcategory_view' category=featured.category.slug sub_category=featured.sub_category.slug %}">
                                            <cite>{{ featured.sub_category.name }}</cite></a>
                                            <a href="{% url 'article_view' category=featured.category.slug sub_category=featured.sub_category.slug title=featured.slug %}">
                                            <p>{{ featured.title }}</p></a>

                                        </blockquote>

                                    </div>
                                    <!-- /.swiper-holder -->

                                </div>
                                <!-- /.swiper-slide -->

                            </div>
                            <!-- wrapper -->

                        </div>
                        <!-- /.swiper-container -->


                    </div>
                    <!-- /.testimonial-slider -->
                    {% endfor %}
                    <div
                    class="article-carousel boxed en-block category-block wide-space color-1 mb5"
                  >
                    <div class="swiper-container carousel-container">
                      <div class="row">
                        {% for articles in category.get_articles %}
                        {% if forloop.counter < 3 %}
                        <div class="col-md-6">
                         
                          <div class="post first hover-dark">
                            <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}">
        
        
                              {% if articles.article_pic %}
                              <div
                                class="image"
                                data-src="{{ articles.article_pic.url }"
                              >
                             
                                <source srcset="{{ articles.article_pic_small.url }}" type="image/jpeg" media="(max-width: 768px)" />
                                <source srcset="{{ articles.article_pic_medium.url }}" type="image/jpeg" media="(max-width: 1024px)" />
                                <img loading="lazy" fetchpriority="auto" src="{{ articles.article_pic_large.url }}" alt="Proportion"/>   
                           
                                <a style=" z-index: 800;" href="{% url 'subcategory_view' category=articles.category.slug sub_category=articles.sub_category.slug %}" class="label bgred">{{ articles.sub_category.name }}</a>
                                {% if articles.has_video %}
                                <a class="video-player"></a>
                                {% endif %}
                              </div>
                              {% endif %}
                              <div class="meta inline-meta small-meta">
                                {% for author in articles.get_authors %}
                                <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                                {% endfor %}
                                <span class="date">{{ articles.updated_at|naturaltime }}</span>
                              </div>
                            </a>
        
                          </div>
        
                          <div class="row">
                            <div class="col-md-12">
                              <div class="post hover-light">
                                <h4>
                                  <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}"
                                    >{{ articles.title }}</a
                                  >
                                </h4>
                                <p>
                                    {{articles.text | safe | slice:":200" }}...
                                </p>
                              </div>
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                          <div class="border-bottom2 mb2 color-1"></div>
                        </div>
                        <!-- /.col -->
                        {% endif %}
                        {% endfor %}
                      </div>
                      <div class="row">
                        {% for articles in category.get_articles %}
                        {% if forloop.counter > 2 %}
                        <div class="col-md-3">
                          <div class="post hover-light">
                            <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}">
                            {% if articles.article_pic %}
                            <div
                              class="image"
                              data-src="{{ articles.article_pic.url }}"
                            >
                              <source srcset="{{ articles.article_pic_small.url }}" type="image/jpeg" media="(max-width: 768px)" />
                              <source srcset="{{ articles.article_pic_medium.url }}" type="image/jpeg" media="(max-width: 1024px)" />
                              <img loading="lazy" fetchpriority="auto" src="{{ articles.article_pic_large.url }}" alt="Proportion"/>   
                       
                              <a style="z-index: 800;" href="{% url 'subcategory_view' category=articles.category.slug sub_category=articles.sub_category.slug %}" class="label bgred">{{ articles.sub_category.name }}</a>
                              {% if articles.has_video %}
                              <a class="video-player"></a>
                              {% endif %}
                            </div>
                            {% endif %}
                          </a>
                            <div class="meta inline-meta small-meta">
                              {% for author in articles.get_authors %}
                              <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                              {% endfor %}
                              <span class="date">{{ articles.updated_at|naturaltime }}</span>
                            </div>
                            <!-- <div class="border-bottom2 mb2 color-1"></div> -->
                            <h4 class="font18">
                              <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}"
                                >{{ articles.title }}</a
                              >
                            </h4>
                            <p>
                                {{articles.text | safe | slice:":150" }}...
                            </p>
                          </div>
                        </div>
                        <!-- /.col -->
                        {% endif %}
                        {% endfor %}
        
                      </div>
                      <!-- /.row -->
        
                      <div class="border-bottom2 mb2 color-1"></div>
                    </div>
                    <!-- /.swiper-container -->
                  </div>
                  <!-- /.section-carousel -->
                  {% endif %}
                  {% endfor %}

        <h2 class="block-title mt8" data-title="Blogs" >
            Blogers
        </h2>

        <div class="boxed wide-space en-block">

			<div class="row">
                {% for author in authors_list %}
				<div class="col-sm-4">

					<div class="post quote color-1">

						<div class="meta bullet-style">
							<span class="author">{{ author.first_name}}</span>
                            <span class="author">{{ author.last_name}}</span>
						</div>
						<blockquote>{{ author.short_bio }}</blockquote>
						<div class="author clearfix">
							<a href="{% url 'author_view' author_id=author %}">
                {% if author.prof_pic%}
								<img loading="lazy"  class="image image-thumb border-radius" src="{{ author.prof_pic_small.url}}" alt="Image">
                {% endif %}
							</a>
							<a href="{% url 'category_view' category=author.job_title.slug %}" class="label">{{ author.job_title }}</a>
						</div>
						<!-- /.meta -->

						<a href="{% url 'author_view' author_id=author %}" class="category-more">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ <img src="{% static 'images/arrow-right.png' %}" alt="Arrow"></a>

					</div>

				</div>
                {% endfor %}
				<!-- /.col -->

			</div>
			<!-- /.row -->

		</div>
		<!-- /.boxed -->

	</div>
	<!-- end .col-md-12 -->

</div>
<!-- end .row -->
<!-- New Section -->
{% for category in categories_list %}
{% if category.name != 'People' %}
<div class="content-area pvt0 entertainment-layout" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="block-title mt8" data-title="{{ category.name }}">
            {{ category.name }}
            <a href="{% url 'category_view' category=category.slug %}" class="category-more text-right"
              >ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ
              <img loading="lazy" fetchpriority="low" src="{% static 'images/arrow-right.png' %}" alt="Arrow"
            /></a>
          </h2>

          <div
            class="article-carousel boxed en-block category-block wide-space color-1 mb5"
          >
            <div class="swiper-container carousel-container">
              <div class="row">
                {% for articles in category.get_articles %}
                {% if forloop.counter < 3 %}
                <div class="col-md-6">
                 
                  <div class="post first hover-dark">
                    <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}">


                      {% if articles.article_pic %}
                      <div
                        class="image"
                        data-src="{{ articles.article_pic.url }"
                      >
                     
                        <source srcset="{{ articles.article_pic_small.url }}" type="image/jpeg" media="(max-width: 768px)" />
                        <source srcset="{{ articles.article_pic_medium.url }}" type="image/jpeg" media="(max-width: 1024px)" />
                        <img loading="lazy" fetchpriority="auto" src="{{ articles.article_pic_large.url }}" alt="Proportion"/>   
                 
                        <a style=" z-index: 800;" href="{% url 'subcategory_view' category=articles.category.slug sub_category=articles.sub_category.slug %}" class="label bgred">{{ articles.sub_category.name }}</a>
                        {% if articles.has_video %}
                        <a class="video-player"></a>
                        {% endif %} 
                      </div>
                      {% endif %}
                      <div class="meta inline-meta small-meta">
                        {% for author in articles.get_authors %}
                        <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                        {% endfor %}
                        <span class="date">{{ articles.updated_at|naturaltime }}</span>
                      </div>
                    </a>

                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="post hover-light">
                        <h4>
                          <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}"
                            >{{ articles.title }}</a
                          >
                        </h4>
                        <p>
                            {{articles.text | safe | slice:":200" }}...
                        </p>
                      </div>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="border-bottom2 mb2 color-1"></div>
                </div>
                <!-- /.col -->
                {% endif %}
                {% endfor %}
              </div>
              <div class="row">
                {% for articles in category.get_articles %}
                {% if forloop.counter > 2 %}
                <div class="col-md-3">
                  <div class="post hover-light">
                    <a style="position: inherit; z-index: 800;" href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}">
                    {% if articles.article_pic %}
                    <div
                      class="image"
                      data-src="{{ articles.article_pic.url }}"
                    >
                   
                      <source srcset="{{ articles.article_pic_small.url }}" type="image/jpeg" media="(max-width: 768px)" />
                      <source srcset="{{ articles.article_pic_medium.url }}" type="image/jpeg" media="(max-width: 1024px)" />
                      <img loading="lazy" fetchpriority="auto" src="{{ articles.article_pic_large.url }}" alt="Proportion"/>   
                      {% if articles.has_video %}
                      <a class="video-player"></a>
                      {% endif %}
                      <a style=" z-index: 800;" href="{% url 'subcategory_view' category=articles.category.slug sub_category=articles.sub_category.slug %}" class="label bgred">{{ articles.sub_category.name }}</a>
                    </div>
                    {% endif %}
                  </a>
                    <div class="meta inline-meta small-meta">
                      {% for author in articles.get_authors %}
                      <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                      {% endfor %}
                      <span class="date">{{ articles.updated_at|naturaltime }}</span>
                    </div>
                    <!-- <div class="border-bottom2 mb2 color-1"></div> -->
                    <h4 class="font18">
                      <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug title=articles.slug %}"
                        >{{ articles.title }}</a
                      >
                    </h4>
                    <p>
                        {{articles.text | safe | slice:":150" }}...
                    </p>
                  </div>
                </div>
                <!-- /.col -->
                {% endif %}
                {% endfor %}

              </div>
              <!-- /.row -->

              <div class="border-bottom2 mb2 color-1"></div>
            </div>
            <!-- /.swiper-container -->
          </div>
          <!-- /.section-carousel -->
        </div>
        <!-- end .col-md-12 -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .container -->
  </div>
  {% endif %}
  {% endfor %}
</div>

		</div>
		<!-- /.boxed -->
    </div>



{% endblock %}
