{% extends 'base.html'%}
{% load static %}
{% block content %}

    <div class="content-area pvt0 entertainment-layout">
        <div class="section-full pv8">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="gallery-slider movie-slider">
                            <!-- masterslider -->
                            <div class="master-slider ms-skin-default ms-skin-dark no-tint" id="masterslider4">
                                {% for important in important_list %}
                                   <div class="ms-slide color-2">
                                    <div class="slide-pattern"></div>
                                    <img src="{% static 'vendors/masterslider/style/blank.gif' %}" data-src="{% static 'images/music/ms2.jpg' %}" alt="Image"/>

                                     <div class="ms-layer" data-effect="fade(400)" data-origin="tl" data-delay="0" data-offset-y="70"><span class="label">{{ important.sub_category__name }}</span></div>
                                    <div class="ms-layer right-side" data-duration="300" data-ease="easeInOut">

                                        <div class="one-half animate-element movie-slider-meta" data-anim="fadeInUp">
                                            <a href="{% url 'article_view' category=important.category.slug sub_category=important.sub_category.slug post_id=important.id %}">
                                            <h3>{{ important.title }}</h3>
                                        </a>
                                            <div class="meta">
                                                {% for author in important.get_authors %}
                                                <a href="">
                                                <span class="author">{{ author }}</span>
                                            </a>
                                                {% endfor %}
                                                <span class="date">{{ important.updated_at }}</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <a href="">
                                        <div class="excerpt border-top animate-element" data-anim="fadeInUp">{{ important.text | safe }}</div>
                                    </a>
                                    </div>

                                    <div class="ms-thumb">
                                        <div class="image color-1" data-src="{% static 'images/music/ms2-thumb.jpg' %}"></div>
                                    </div>

                                </div>

                                {% endfor %}

                            </div><!-- end of masterslider -->
                        </div><!-- end of gallery-slider -->

                    </div>
                </div>
            </div>
        </div>
        <!-- // Picture News -->
        <div class="container">


            <div class="row">
                <div class="col-sm-12 pv3 pvb0">
                    <a href="blog.html">
                        <img src="{% static 'images/pages/banner-3-big.jpg' %}" alt="banner">
                    </a>
                </div>
            </div>
            <div class="border-line mv3"></div>
  <!-- Section 5 -->

  <div class="row">

    <div class="col-md-12">

        <h2 class="block-title mt8" data-title="Vergina News">
        Front page
        <a href="single.html" class="category-more text-right">Continue to the category <img src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
        </h2>

    </div>
</div>


    <div class="row">

        <div class="col-sm-3 category-block en-block">
            <div class="sidebar boxed p3">
            <h4 class="font40" style="text-align: center;"><a href="#">Ρoή Ειδήσεων</a></h4>
            <div class="simple-tab-space">

                <div class="tab-title clearfix">
                    <a href="#" class="active">Ειδήσεις</a>
                    <a href="#">Δημοφιλή</a>

                </div>

                <div class="tab-panel">
                    <div class="tab-content active">
                        {% for latest in roaming_news_list %}
                        <div class="post hover-light">
                            <a href="{% url 'article_view' category=latest.category.slug sub_category=latest.sub_category.slug post_id=latest.id %}">
                                <div class="image image-thumb" loading="lazy" data-src="https://source.unsplash.com/user/c_v_r"></div>
                            </a>
                            <span class="date">{{ latest.date_added }}</span>
                            <h4 class="font16" method="post"><a href="{% url 'article_view' category=latest.category.slug sub_category=latest.sub_category.slug post_id=latest.id %}">{{ latest.title }}</a></h4>
                            <p>{{ latest.text | safe | slice:":100" }}...</p>
                            <div class="meta">

                            </div>
                        </div>
                        {% endfor %}
                         <!-- end .post -->

                        <a href="single.html" class="category-more">Continue to the news <img src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                      </div>

                    <!-- /.tab-panel -->

                    <div class="tab-content">
                      {% for pouplar in popular_news_list %}
                      <div class="post hover-light">
                          <a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.sub_category.slug post_id=pouplar.id %}">
                              <div class="image image-thumb" loading="lazy" data-src="https://source.unsplash.com/user/c_v_r"></div>
                          </a>
                          <h4 class="font16" method="post"><a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.sub_category.slug post_id=pouplar.id %}">{{ pouplar.title }}</a></h4>
                          <p>{{ pouplar.text | safe | slice:":100" }}...</p>
                          <div class="meta">
                              <span class="date">{{ pouplar.date_added }}</span>
                          </div>
                      </div>
                      {% endfor %}
                       <!-- end .post -->


                        <a href="#" class="category-more">Continue to the news <img src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>


                    </div>
                    <!-- /.tab-panel -->
                            <div class="tab-content">
                        <!-- /.row -->
                    </div>
                    <!-- /.tab-panel -->

                 </div>
                <!-- /.tab-panel -->
            </div>
                    <!-- /.simple-tab-space -->

                </div>
            </div>


        <!-- end .col-md-4 -->

        <div class="col-sm-9">

            <div class="boxed wide-space">
            <div class="category-block en-block">

                <div class="panel-ticker mb2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">

                                    <div class="widget">
                                        <h5 class="widget-title"><span>Tag Cloud:</span></h5>
                                        <div class="widget-tags">
                                          {% for tag in popular_tags %}
                                            <a href="{% url 'articles_view' search=tag %}">{{ tag }}</a>
                                          {% endfor %}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for frontnew in frontnews_list %}
                {% if forloop.counter < 2 %}

                <div class="post color-1">
                    <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}">
                        <div class="image">
                            <img loading="lazy" src="https://source.unsplash.com/user/c_v_r" alt="Proportion"/>
                            <a href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                        </div>
                    </a>
                    <div class="meta font18 inline-meta">
                        {% for author in frontnew.get_authors %}
                        <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                        {% endfor %}
                        <span class="date">{{ frontnew.updated_at }}</span>

                        <div class="social-links pull-right">
                            <span>Share: </span>
                            <a href="single.html"><i class="fa fa-facebook"></i></a>
                            <a href="single.html"><i class="fa fa-twitter"></i></a>
                            <a href="single.html"><i class="fa fa-google-plus"></i></a>
                            <a href="single.html"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <h4 class="font28"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}">{{ frontnew.title}}</a></h4>
                    <div class="border-line"></div>
                    <p>{{ frontnew.text | safe |slice:":800"  }}...</p>
                    <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}" class="category-more">Continue to the news <img loading="lazy" src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                </div>
                {% endif %}
                {% endfor %}

            </div>
            <!-- end .category-block -->

            <div class="pv2">
                <a href="blog.html">
                    <img loading="lazy" src="{% static 'images/ads-660x440.png' %}" alt="Ads" class="full-size">
                </a>
            </div>
            <div class="border-line mb5"></div>

            <div class="row category-block en-block">
                {% for frontnew in frontnews_list %}
                {% if forloop.counter > 1 and forloop.counter < 5 %}
                <div class="col-md-6">

                    <div class="post hover-dark color-1">
                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}">
                            <div class="image" data-src="images/entertainment/post-11.jpg">
                                <img loading="lazy" src="https://source.unsplash.com/user/c_v_r" alt="Proportion"/>
                                <a href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                            </div>
                        </a>
                        <div class="meta inline-meta small-meta">
                            {% for author in frontnew.get_authors %}
                            <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                            {% endfor %}
                            <span class="date">{{ frontnew.updated_at }}</span>
                        </div>
                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}">{{ frontnew.title }}</a></h4>
                        <p>{{ frontnew.text | safe |slice:":600" }}...</p>
                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}" class="category-more">Continue to the news <img loading="lazy" src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                    </div>


                </div>
                {% endif%}
                {% endfor %}
                <!-- /.col -->

                <div class="col-md-6">
                    <div class="post first hover-dark color-2">
                        <a href="single.html">
                            <div class="image" data-src="images/entertainment/post-10.jpg">
                                <img loading="lazy" src="images/5x3.png" alt="Proportion"/>
                            </div>
                        </a>
                    </div>
                </div>

                {% for frontnew in frontnews_list %}
                {% if forloop.counter > 4 and forloop.counter < 7 %}
                <div class="col-md-6">

                    <div class="post hover-dark color-1">
                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}">
                            <div class="image" data-src="images/entertainment/post-11.jpg">
                                <img loading="lazy" src="https://source.unsplash.com/user/c_v_r" alt="Proportion"/>
                                <a href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                            </div>
                        </a>
                        <div class="meta inline-meta small-meta">
                            {% for author in frontnew.get_authors %}
                            <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                            {% endfor %}
                            <span class="date">{{ frontnew.updated_at }}</span>
                        </div>
                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}">{{ frontnew.title }}</a></h4>
                        <p>{{ frontnew.text | safe |slice:":600" }}...</p>
                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}" class="category-more">Continue to the news <img loading="lazy" src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                    </div>


                </div>
                {% endif%}
                {% endfor %}
            </div>
            <!-- /.col -->
            <div class="row">
                <div class="col-sm-12 mv3 mvt0">
                    <a href="entertainment.html">
                        <img loading="lazy" src="images/pages/banner-1.jpg" alt="banner" class="full-size">
                    </a>
                </div>
            </div>

            <h3 class="title-middle title-border"></h3>

							<div class="row">
                                {% for frontnew in frontnews_list %}
                                {% if forloop.counter > 6 and forloop.counter < 8 %}
                                <div class="col-md-6">

                                    <div class="post hover-dark color-1">
                                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}">
                                            <div class="image" data-src="images/entertainment/post-11.jpg">
                                                <img loading="lazy" src="https://source.unsplash.com/user/c_v_r" alt="Proportion"/>
                                                <a href="{% url 'subcategory_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug %}" class="label">{{ frontnew.sub_category }}</a>
                                            </div>
                                        </a>
                                        <div class="meta inline-meta small-meta">
                                            {% for author in frontnew.get_authors %}
                                            <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                                            {% endfor %}
                                            <span class="date">{{ frontnew.updated_at }}</span>
                                        </div>
                                        <h4 class="font18"><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}">{{ frontnew.title }}</a></h4>
                                        <p>{{ frontnew.text | safe |slice:":600" }}...</p>
                                        <a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}" class="category-more">Continue to the news <img loading="lazy" src="{% static 'images/arrow-right-red.png' %}" alt="Arrow"></a>
                                    </div>


                                </div>
                                {% endif%}
                                {% endfor %}


								<div class="col-md-6">
                  {% for frontnew in frontnews_list %}
                  {% if forloop.counter > 7 %}
									<div class="category-block articles">
									    <div class="post hover-light">
											<a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}">
												<div class="image image-thumb" data-src="https://source.unsplash.com/user/c_v_r"></div>
											</a>
											<h4><a href="{% url 'article_view' category=frontnew.category.slug sub_category=frontnew.sub_category.slug post_id=frontnew.id %}">{{ frontnew.title }}</a></h4>
											<p>{{ frontnew.text | safe | slice:":100" }}...</p>
											<div class="meta">
                                                {% for author in frontnew.get_authors %}
                                                <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                                                {% endfor %}
												<span class="date">{{ frontnew.date_added }}</span>
											</div>
										</div>

								    </div>
                    {% endif%}
                    {% endfor %}
								</div>


							</div>
                                        <!-- /.col -->
            <div class="row">
                <div class="col-sm-12 mv3 mvt0">
                    <a href="entertainment.html">
                        <img loading="lazy" src="" alt="banner" class="full-size">
                    </a>
                </div>
            </div>


        </div>
        <!-- /.row -->


    </div>
    <!-- end .col-md-8 -->

    </div><!-- /.row -->
<!-- </div> -->
    <!-- <div class="row">
            <i class="fa fa-chevron-up scroll-to-top"></div>
            </div> -->

            <!-- Ne setion -->
            <div class="section-full pv9 pvb0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="fs-blog-carousel" data-col="4" data-row="1" data-responsive="3,2,1">
                                <h3 class="fs-title text-center">Δημοφιλή στο Internet</h3>
                                <div class="fs-pager">
                                    <span>
                                        <a href="single.html" class="fs-arrow-prev swiper-prev"><img src="{% static 'images/arrow-prev.png' %}" alt="preview"></a>
                                        <i class="fs-current-index">1</i> of <i class="fs-current-total">1</i>
                                        <a href="single.html" class="fs-arrow-next swiper-next"><img src="{% static 'images/arrow-next.png' %}" alt="preview"></a>
                                    </span>
                                </div>
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for pouplar in popular_news_list %}
                                          <div class="swiper-slide">
                                            <div class="fs-blog-item">
                                                <a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.sub_category.slug post_id=pouplar.id %}">
                                                    <img src="https://source.unsplash.com/user/c_v_r" alt="portfolio image">
                                                </a>
                                                <h4><a href="{% url 'article_view' category=pouplar.category.slug sub_category=pouplar.sub_category.slug post_id=pouplar.id %}">{{ pouplar.text | safe | slice:":100" }}...</a></h4>
                                            </div>
                                        </div>
                                        {% endfor %}

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <!-- end .container -->
        </div>
 <!-- New Section -->
 <div class="section-full pv9 pvb0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="fs-blog-carousel" data-col="4" data-row="2" data-responsive="3,2,1">
                    <h3 class="fs-title text-center">Word News</h3>
                    <div class="fs-pager">
                        <span>
                            <a href="single.html" class="fs-arrow-prev swiper-prev"><img src="{% static 'images/arrow-prev.png' %}" alt="preview"></a>
                            <i class="fs-current-index">1</i> of <i class="fs-current-total">1</i>
                            <a href="single.html" class="fs-arrow-next swiper-next"><img src="{% static 'images/arrow-next.png' %}" alt="preview"></a>
                        </span>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                <div class="fs-blog-item boxed-title">
                                    <a href="single.html">
                                        <img loading="lazy" src="https://source.unsplash.com/user/c_v_r" alt="portfolio image">
                                    </a>
                                    <span class='fs-label'>Hottest</span>
                                    <div class="entry-title">
                                        <h4><a href="single.html">What does Drake’s whiskey say about him?</a></h4>
                                        <p class="read-more">
                                            <a href="single.html">read the article</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                                                            <div class="swiper-slide">
                                <div class="fs-blog-item boxed-title">
                                    <a href="single.html">
                                        <img src="https://source.unsplash.com/user/c_v_r" alt="portfolio image">
                                    </a>
                                         <div class="entry-title">
                                        <h4><a href="single.html">What does Drake’s whiskey say about him?</a></h4>
                                        <p class="read-more">
                                            <a href="single.html">read the article</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                                   <div class="swiper-slide">
                                <div class="fs-blog-item boxed-title">
                                    <a href="single.html">
                                        <img src="https://source.unsplash.com/user/c_v_r" alt="portfolio image">
                                    </a>
                                                                            <div class="entry-title">
                                        <h4><a href="single.html">What does Drake’s whiskey say about him?</a></h4>
                                        <p class="read-more">
                                            <a href="single.html">read the article</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                                                            <div class="swiper-slide">
                                <div class="fs-blog-item boxed-title">
                                    <a href="single.html">
                                        <img src="https://source.unsplash.com/user/c_v_r" alt="portfolio image">
                                    </a>
                                    <span class='fs-label'>Trending</span>						        		<div class="entry-title">
                                        <h4><a href="single.html">What does Drake’s whiskey say about him?</a></h4>
                                        <p class="read-more">
                                            <a href="single.html">read the article</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                                                            <div class="swiper-slide">
                                <div class="fs-blog-item boxed-title">
                                    <a href="single.html">
                                        <img src="https://source.unsplash.com/user/c_v_r" alt="portfolio image">
                                    </a>
                                                                            <div class="entry-title">
                                        <h4><a href="single.html">What does Drake’s whiskey say about him?</a></h4>
                                        <p class="read-more">
                                            <a href="single.html">read the article</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                                 <div class="swiper-slide">
                                <div class="fs-blog-item boxed-title">
                                    <a href="single.html">
                                        <img src="https://source.unsplash.com/user/c_v_r" alt="portfolio image">
                                    </a>
                                                                            <div class="entry-title">
                                        <h4><a href="single.html">What does Drake’s whiskey say about him?</a></h4>
                                        <p class="read-more">
                                            <a href="single.html">read the article</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                                  <div class="swiper-slide">
                                <div class="fs-blog-item boxed-title">
                                    <a href="single.html">
                                        <img src="https://source.unsplash.com/user/c_v_r" alt="portfolio image">
                                    </a>
                                    <span class='fs-label'>Hottest</span>						        		<div class="entry-title">
                                        <h4><a href="single.html">What does Drake’s whiskey say about him?</a></h4>
                                        <p class="read-more">
                                            <a href="single.html">read the article</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                                                            <div class="swiper-slide">
                                <div class="fs-blog-item boxed-title">
                                    <a href="single.html">
                                        <img src="https://source.unsplash.com/user/c_v_r" alt="portfolio image">
                                    </a>
                                                                            <div class="entry-title">
                                        <h4><a href="single.html">What does Drake’s whiskey say about him?</a></h4>
                                        <p class="read-more">
                                            <a href="single.html">read the article</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                         </div>
                    </div>
                </div>
                <div class="border-bottom2 mb4 mt2" ></div>
            </div>
        </div>
    </div>
</div>
{% for category in categories_list %}
{% if category.name == "People" %}
            <!-- New Section -->
            <div class="row">

                <div class="col-md-12">

                    <h2 class="block-title mt8" data-title="Featured" >
                        {{ category.name }}
                    </h2>
                    <div class="testimonial-slider fs-blog-carousel" data-col="1" data-row="1" data-responsive="1,1,1">


                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                           <div class="swiper-slide">
                             {% for featured in category.get_featured %}
                                    <div class="swiper-holder">
                                      <img src="{{ featured.article_pic.url }}" alt="Quote author" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" >

                                        <blockquote>
                                            <cite>{{ featured.title }}</cite>
                                            <p>{{ featured.text | safe }}</p>
                                        </blockquote>

                                    </div>
                                    <!-- /.swiper-holder -->
                             {% endfor %}
                                </div>
                                <!-- /.swiper-slide -->

                            </div>
                            <!-- wrapper -->

                        </div>
                        <!-- /.swiper-container -->


                    </div>
                    <!-- /.testimonial-slider -->

                    <div class="article-carousel en-block en-carousel-block">

                    			<div class="swiper-container carousel-container">
                    			    <div class="swiper-wrapper animated-blocks">


                    				    <div class="swiper-slide">

                    				    	<div class="masonry-layout row" data-col-width=".col-md-3">

                                                {% for articles in category.get_articles %}
                                                {% if forloop.counter < 2 %}
                    				    		<div class="col-xs-12 col-sm-4 col-md-6 masonry-item ab-item">
                    			    				<div class="post text-light color-1">
                    			    					<div class="image" data-src="images/entertainment/post-02.png">
                    			    						<img src="images/1x1.png" alt="Placeholder">
                    			    					</div>
                    			    					<div class="post-content">
                    			    						<a href="{% url 'subcategory_view' category=articles.category.slug sub_category=articles.sub_category.slug %}" class="label">{{ articles.sub_category.name }}</a>
                    				    					<h4 class="font36"><a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug post_id=articles.id %}">{{ articles.title }}.</a></h4>
                    				    					<div class="meta mb0">
                                                                {% for author in articles.get_authors %}
                    				    						<span class="author">{{ author }}</span>
                                                                {% endfor %}
                    				    					</div>
                    			    					</div>
                    			    				</div>

                    				    		</div>
                                                {% endif %}
                                                {% endfor %}
                    				    		<!-- /.col -->
                                                {% for articles in category.get_articles %}
                                                {% if forloop.counter > 2 %}
                                                <div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
                    			    				<div class="post">
                    			    					<div class="image" data-src="images/entertainment/post-01.png">
                    			    						<img src="images/1x1.png" alt="Placeholder">
                    			    					</div>
                    			    					<div class="post-content">
                                                            {% for author in articles.get_authors %}
                                                            <span class="author">{{ author }}</span>
                                                            {% endfor %}
                    				    					<h4><a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug post_id=articles.id %}">{{ articles.title }}.</a></h4>
                    			    					</div>
                    			    				</div>

                    				    		</div>
                    				    		<!-- /.col -->
                                                {% endif %}
                                                {% endfor %}

                                                {% for articles in category.get_articles %}
                                                {% if forloop.counter > 5 %}
                    				    		<div class="col-xs-12 col-sm-4 col-md-6 masonry-item ab-item">
                    			    				<div class="post text-light color-1">
                    			    					<div class="image" data-src="images/entertainment/post-02.png">
                    			    						<img src="images/1x1.png" alt="Placeholder">
                    			    					</div>
                    			    					<div class="post-content">
                    			    						<a href="{% url 'subcategory_view' category=articles.category.slug sub_category=articles.sub_category.slug %}" class="label">{{ articles.sub_category.name }}</a>
                    				    					<h4 class="font36"><a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug post_id=articles.id %}">{{ articles.title }}.</a></h4>
                    				    					<div class="meta mb0">
                                                                {% for author in articles.get_authors %}
                    				    						<span class="author">{{ author }}</span>
                                                                {% endfor %}
                    				    					</div>
                    			    					</div>
                    			    				</div>

                    				    		</div>
                    				    		<!-- /.col -->
                                                {% endif %}
                                                {% endfor %}


                    				    	</div>
                    				    	<!-- /.masonry-layout -->
                    				    </div>
                    				    <!-- /.swiper-slide -->

            {% endif %}
            {% endfor %}




				</div>
				<!-- /.swiper-wrapper -->

                <div class="border-bottom2 mb2 "></div>

			</div>
			<!-- /.swiper-container -->

		</div>
		<!-- /.section-carousel -->

        <h2 class="block-title mt8" data-title="Blogs" >
            Blogers
        </h2>

        <div class="boxed wide-space en-block">

			<div class="row">
                {% for author in authors_list %}
				<div class="col-sm-4">

					<div class="post quote color-1">

						<div class="meta bullet-style">
							<span class="author">{{ author.first_name}}</span>
                            <span class="author">{{ author.last_name}}</span>
						</div>
						<blockquote>{{ author.short_bio }}</blockquote>
						<div class="author clearfix">
							<a href="single.html">
								<img class="image image-thumb border-radius" src="https://source.unsplash.com/user/c_v_r" alt="Image">
							</a>
							<a href="blog.html" class="label">{{ author.get_job_title }}</a>
						</div>
						<!-- /.meta -->

						<a href="single.html" class="category-more">Continue to the news <img src="images/arrow-right.png" alt="Arrow"></a>

					</div>

				</div>
                {% endfor %}
				<!-- /.col -->

			</div>
			<!-- /.row -->

		</div>
		<!-- /.boxed -->

	</div>
	<!-- end .col-md-12 -->

</div>
<!-- end .row -->
<!-- New Section -->
{% for category in categories_list %}
{% if category.name != 'People' %}
<div class="content-area pvt0 entertainment-layout">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="block-title mt8" data-title="{{ category.name }}">
            {{ category.name }}
            <a href="{% url 'category_view' category=category.name %}" class="category-more text-right"
              >Continue to the category
              <img loading="lazy" src="{% static 'images/arrow-right.png' %}" alt="Arrow"
            /></a>
          </h2>

          <div
            class="article-carousel boxed en-block category-block wide-space color-1 mb5"
          >
            <div class="swiper-container carousel-container">
              <div class="row">
                {% for articles in category.get_articles %}
                {% if forloop.counter < 3 %}
                <div class="col-md-6">
                  <div class="post first hover-dark">
                    <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug post_id=articles.id %}">
                      <div
                        class="image"
                        data-src="images/entertainment/post-14.jpg"
                      >
                        <img loading="lazy" src="https://source.unsplash.com/user/c_v_r" alt="Proportion" />
                        <a href="{% url 'subcategory_view' category=articles.category.slug sub_category=articles.sub_category.slug %}" class="label bgred">{{ articles.sub_category.name }}</a>
                      </div>
                      <div class="meta inline-meta small-meta">
                        {% for author in articles.get_authors %}
                        <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                        {% endfor %}
                        <span class="date">{{ articles.updated_at }}</span>
                      </div>
                    </a>

                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="post hover-light">
                        <h4>
                          <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug post_id=articles.id %}"
                            >{{ articles.title }}</a
                          >
                        </h4>
                        <p>
                            {{articles.text | safe | slice:":200" }}...
                        </p>
                      </div>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="border-bottom2 mb2 color-1"></div>
                </div>
                <!-- /.col -->
                {% endif %}
                {% endfor %}
              </div>
              <div class="row">
                {% for articles in category.get_articles %}
                {% if forloop.counter > 2 %}
                <div class="col-md-3">
                  <div class="post hover-light">
                    <div
                      class="image"
                      data-src="images/entertainment/post-11.jpg"
                    >
                      <img loading="lazy" src="https://source.unsplash.com/user/c_v_r" alt="Proportion" />
                      <a href="{% url 'subcategory_view' category=articles.category.slug sub_category=articles.sub_category.slug %}" class="label bgred">{{ articles.sub_category.name }}</a>
                    </div>
                    <div class="meta inline-meta small-meta">
                      {% for author in articles.get_authors %}
                      <a href="{% url 'author_view' author_id=author %}">{{ author }}</a>
                      {% endfor %}
                      <span class="date">{{ articles.updated_at }}</span>
                    </div>
                    <!-- <div class="border-bottom2 mb2 color-1"></div> -->
                    <h4 class="font18">
                      <a href="{% url 'article_view' category=articles.category.slug sub_category=articles.sub_category.slug post_id=articles.id %}"
                        >{{ articles.title }}</a
                      >
                    </h4>
                    <p>
                        {{articles.text | safe | slice:":150" }}...
                    </p>
                  </div>
                </div>
                <!-- /.col -->
                {% endif %}
                {% endfor %}

              </div>
              <!-- /.row -->

              <div class="border-bottom2 mb2 color-1"></div>
            </div>
            <!-- /.swiper-container -->
          </div>
          <!-- /.section-carousel -->
        </div>
        <!-- end .col-md-12 -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .container -->
  </div>
  {% endif %}
  {% endfor %}
</div>

		</div>
		<!-- /.boxed -->
    </div>



{% endblock %}
